<app-details-card
  [userInfo]="userInfo"
  (showBlockReason)="showBlockReason()"
  [userBlockText]="userBlockText"
  [isUser]="true"
></app-details-card>
<nz-card class="detail-outer-card">
  <nz-flex [nzGap]="40">
    <nz-card class="info-card">
      <div nz-flex [nzGap]="10">
        <img src="assets/icons/invest.svg" alt="invest" />
        <nz-flex [nzVertical]="true">
          <span class="thin-text">Total Invested Amount</span>
          <span class="info-value">${{ userInfo?.totalInvestedAmount }}</span>
        </nz-flex>
      </div>
    </nz-card>
    <nz-card class="info-card">
      <div nz-flex [nzGap]="10">
        <img src="assets/icons/win.svg" alt="win" />
        <nz-flex [nzVertical]="true">
          <span class="thin-text">Total Winning Bid</span>
          <span class="info-value"
            >{{ userInfo?.winCount }}/{{ userInfo?.totalListedTractors }}</span
          >
        </nz-flex>
      </div>
    </nz-card>
  </nz-flex>

  <app-table-view
    [data]="auctionInfo"
    [columns]="listOfColumns"
    [enablePagination]="true"
    [enableSorting]="true"
    [enableSearch]="false"
    [enableActions]="true"
    (sortChange)="onSortChange($event)"
    (filteredList)="onFilterHandler($event)"
    [loader]="loader"
    [totalRecords]="totalRecords"
    [tableRowTemplate]="tableRowTemplate"
    (pageChange)="onPageChange($event)"
    (search)="onSearchInput($event)"
    [isDetailTable]="true"
  >
    <ng-template #tableRowTemplate let-data let-columns="columns">
      <tr *ngFor="let item of data">
        <td>{{ item["tractorId"]?.name }}</td>
        <td>{{ item["tractorId"]?.category }}</td>
        <td>{{ item["tractorId"]?.vin }}</td>
        <td>
          <span
            class="status-button"
            [ngStyle]="
              item['reservedPrice'] > 0
                ? { background: '#2FC07C', color: '#fff' }
                : { background: '#097F54', color: '#fff' }
            "
          >
            {{ item["reservedPrice"] > 0 ? "Reserved" : "No Reserve" }}
          </span>
        </td>
        <td>
          <span
            [ngStyle]="styleObject(item['auctionStatus'])"
            class="status-button"
          >
            {{ item["auctionStatus"] | titlecase }}
          </span>
        </td>
        <td>{{ item["startTime"] * 1000 | date : "dd-MM-yyyy" }}</td>
        <td>{{ item["currentBid"]?.amount }}</td>
        <td>
          <button
            (click)="handleViewMore(item['_id'])"
            class="secondary_button"
            nz-button
          >
            View More
          </button>
        </td>
      </tr></ng-template
    >
  </app-table-view>
</nz-card>

<app-modal
  [showModal]="showBlockReasonModal"
  (handleCancelModal)="handleCancel()"
>
  <div modal-content>
    <nz-flex nzJustify="center" nzAlign="center" [nzVertical]="true">
      <img src="assets/icons/block.svg" alt="block" width="50" height="50" />
      <h3>{{ userBlockText }} User Confirmation</h3>
    </nz-flex>
    <nz-radio-group [(ngModel)]="selectedReason" *ngIf="!userInfo?.isDeleted">
      <label
        *ngFor="let reason of reasons"
        nz-radio
        [nzValue]="reason"
        [attr.for]="'reason-' + reason"
      >
        {{ reason }}
      </label>
    </nz-radio-group>
    <h4>Other Reasons:</h4>
    <textarea
      nz-input
      placeholder="Other reasons"
      [(ngModel)]="otherReason"
      id="otherReason"
    ></textarea>
  </div>
  <div modal-footer>
    <button
      nz-button
      class="primary-button"
      (click)="handleUserAccount()"
      [disabled]="shouldDisableButton()"
    >
      {{ userBlockText }} User
    </button>
  </div>
</app-modal>
