.platform-card {
  padding: 16px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  background: var(--white-color);
  margin: 10px 0px;
}

.platform-title {
  font-size: var(--font-l);
  font-style: normal;
  font-weight: var(--font-weight-semi-bold);
  line-height: 120%;
}
.ant-input-number-group-wrapper {
  width: 100%;
  margin: 10px 0px;
}
.ant-input-number {
  width: 100%;
}

.block-unblock-button {
  color: var(--white-color);
  background-color: var(--green-color);
  border-radius: 5px;
  box-shadow: 0px 2px 8px 0px rgba(46, 47, 54, 0.08);
  line-height: 24px;
  font-weight: var(--font-weight-semi-bold);
  font-size: 17px;
  display: flex;
  padding: 20px 40px;
  justify-content: center;
  align-items: center;
}

.update_usage {
  margin: 10px 0px;
}

.referral_status {
  border: 1px solid var(--border-color);
  background: var(--white-color);
  width: 193px;
  padding: 11px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
}
