<nz-card class="platform-card">
  <div class="platform-title">Platform Fees</div>
  <nz-divider></nz-divider>
  <form [formGroup]="platformForm">
    <div class="sub-text">Seller Listing Fees</div>
    <nz-input-number-group nzAddOnAfter="$">
      <nz-input-number formControlName="platformFeesSeller"></nz-input-number>
    </nz-input-number-group>
    <div
      *ngIf="
        platformForm.controls['platformFeesSeller'].invalid &&
        (platformForm.controls['platformFeesSeller'].dirty ||
          platformForm.controls['platformFeesSeller'].touched)
      "
      class="error-message"
    >
      Please enter valid input
    </div>
    <div class="sub-text">Buyer Listing Fees</div>
    <nz-input-number-group nzAddOnAfter="%">
      <nz-input-number formControlName="platformFeesBuyer"></nz-input-number>
    </nz-input-number-group>
    <div
      *ngIf="
        platformForm.controls['platformFeesBuyer'].invalid &&
        (platformForm.controls['platformFeesBuyer'].dirty ||
          platformForm.controls['platformFeesBuyer'].touched)
      "
      class="error-message"
    >
      Please enter valid input
    </div>
    <button
      nz-button
      class="block-unblock-button"
      (click)="handlePlatformFees()"
      [disabled]="platformForm.invalid || !platformForm.dirty"
    >
      Update Fees
    </button>
  </form>
</nz-card>

<nz-card class="platform-card">
  <div class="platform-title">Platform Cap</div>
  <nz-divider></nz-divider>
  <form [formGroup]="capForm">
    <div class="sub-text">Maximum Cap</div>
    <nz-input-number-group nzAddOnAfter="$">
      <nz-input-number formControlName="maxFees"></nz-input-number>
    </nz-input-number-group>
    <div
      *ngIf="
        capForm.controls['maxFees'].invalid &&
        (capForm.controls['maxFees'].dirty ||
          capForm.controls['maxFees'].touched)
      "
      class="error-message"
    >
      Please enter valid input
    </div>
    <div class="sub-text">Minimum Cap</div>
    <nz-input-number-group nzAddOnAfter="$">
      <nz-input-number formControlName="minFees"></nz-input-number>
    </nz-input-number-group>
    <div
      *ngIf="
        capForm.controls['minFees'].invalid &&
        (capForm.controls['minFees'].dirty ||
          capForm.controls['minFees'].touched)
      "
      class="error-message"
    >
      Please enter valid input
    </div>
    <button
      nz-button
      class="block-unblock-button"
      (click)="handleCap()"
      [disabled]="capForm.invalid || !capForm.dirty"
    >
      Update Cap
    </button>
  </form>
</nz-card>

<nz-card class="platform-card">
  <div nz-flex nzJustify="space-between">
    <div class="platform-title">Referral Fees</div>
    <div class="referral_status">
      <div class="sub-text">Change Status</div>
      <nz-switch
        [(ngModel)]="isReferralEnabled"
        (ngModelChange)="handleRefferalEnable($event)"
      ></nz-switch>
    </div>
  </div>
  <nz-divider></nz-divider>
  <form [formGroup]="referralForm">
    <div class="sub-text">Sellers Referral</div>
    <nz-input-number-group nzAddOnAfter="%">
      <nz-input-number formControlName="sellerDiscount"></nz-input-number>
    </nz-input-number-group>
    <div
      *ngIf="
        referralForm.controls['sellerDiscount'].invalid &&
        (referralForm.controls['sellerDiscount'].dirty ||
          referralForm.controls['sellerDiscount'].touched)
      "
      class="error-message"
    >
      Please enter valid input
    </div>
    <div class="sub-text">Buyer's Premium</div>
    <nz-input-number-group nzAddOnAfter="%">
      <nz-input-number formControlName="buyerDiscount"></nz-input-number>
    </nz-input-number-group>
    <div
      *ngIf="
        referralForm.controls['buyerDiscount'].invalid &&
        (referralForm.controls['buyerDiscount'].dirty ||
          referralForm.controls['buyerDiscount'].touched)
      "
      class="error-message"
    >
      Please enter valid input
    </div>
    <button
      nz-button
      class="block-unblock-button"
      (click)="handleReferralFees()"
      [disabled]="referralForm.invalid || !referralForm.dirty"
    >
      Update Fees
    </button>
  </form>
</nz-card>

<nz-card class="platform-card">
  <div class="platform-title">Referral Usage</div>
  <nz-divider></nz-divider>
  <form [formGroup]="usageForm">
    <div class="sub-text">Referral Usage Count Per Referral</div>
    <nz-input-number formControlName="referralUsageCount"></nz-input-number>
    <div
      *ngIf="
        usageForm.controls['referralUsageCount'].invalid &&
        (usageForm.controls['referralUsageCount'].dirty ||
          usageForm.controls['referralUsageCount'].touched)
      "
      class="error-message"
    >
      Please enter valid input
    </div>
    <div class="sub-text">Referral Usage Count Per User</div>
    <nz-input-number formControlName="referralUsedCount"></nz-input-number>
    <div
      *ngIf="
        usageForm.controls['referralUsedCount'].invalid &&
        (usageForm.controls['referralUsedCount'].dirty ||
          usageForm.controls['referralUsedCount'].touched)
      "
      class="error-message"
    >
      Please enter valid input
    </div>
    <button
      nz-button
      class="block-unblock-button update_usage"
      (click)="handleReferralUsage()"
      [disabled]="usageForm.invalid || !usageForm.dirty"
    >
      Update Usage
    </button>
  </form>
</nz-card>
