<nz-card>
  <div nz-row>
    <div nz-col nzSpan="20">
      <div nz-flex>
        <span>Add Sub admin</span>
      </div>
    </div>
    <div nz-col nzSpan="4">
      <button nz-button class="primary-button" (click)="openAddAdminModal()">
        Add Subadmin
      </button>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div nz-row class="privileges-list">
    <div nz-col nzSpan="4" class="list-header">
      <div nz-flex>
        <span>Sub Admin Lists</span>
      </div>
    </div>
    <div nz-col nzSpan="20" class="scrollable-col">
      <div class="horizontal-scroll">
        <ng-container *ngFor="let privilege of privileges">
          <div
            nz-flex
            [nzVertical]="true"
            nzAlign="center"
            class="privilege-item"
          >
            <span>{{ privilege }}</span>
            <div nz-flex nzGap="large">
              <span>Read</span>
              <span>Write</span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="4" class="list-header">
      <div nz-flex>
        <span>John</span>
      </div>
    </div>
    <div nz-col nzSpan="20" class="scrollable-col">
      <div class="horizontal-scroll">
        <ng-container *ngFor="let privilege of privileges">
          <div
            nz-flex
            [nzVertical]="true"
            nzAlign="center"
            class="privilege-item"
          >
            <div nz-flex nzGap="large">
              <label nz-checkbox></label>
              <label nz-checkbox></label>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</nz-card>
<app-modal [showModal]="addAdminModal" (handleCancelModal)="handleCancel()">
  <div modal-content [formGroup]="addAdminForm">
    <nz-flex nzJustify="center" nzAlign="center" [nzVertical]="true">
      <img src="assets/icons/tick.svg" alt="block" width="50" height="50" />
      <h3>Add New Sub admin user</h3>
    </nz-flex>
    <div nz-flex [nzVertical]="true" class="add-admin-input">
      <span>UserName</span>
      <input nz-input nzSize="default" formControlName="username" />
      <div
        *ngIf="username?.invalid && (username?.dirty || username?.touched)"
        class="error-message"
      >
        <div *ngIf="username?.errors?.['required']">Username is required.</div>
        <div *ngIf="username?.errors?.['pattern']">
          Username must start with an alphabet and contain only alphanumeric
          characters.
        </div>
        <div *ngIf="username?.errors?.['maxLength']">
          Username cannot be longer than 20 characters.
        </div>
      </div>
    </div>
    <div nz-flex [nzVertical]="true" class="add-admin-input">
      <span>Registered Email Id</span>
      <input nz-input nzSize="default" formControlName="email" />
      <div
        *ngIf="email?.invalid && (email?.dirty || email?.touched)"
        class="error-message"
      >
        <div *ngIf="email?.errors?.['required']">Email is required.</div>
        <div *ngIf="email?.errors?.['email']">Invalid email format.</div>
      </div>
    </div>
    <div nz-flex [nzGap]="85" class="add-admin-input">
      <span>Code</span>
      <span>Phone Number</span>
    </div>
    <nz-input-number-group nzCompact>
      <nz-select formControlName="code">
        <nz-option nzValue="+91" nzLabel="+91"></nz-option>
        <nz-option nzValue="+1" nzLabel="+1"></nz-option>
      </nz-select>
      <div
        *ngIf="code?.invalid && (code?.dirty || code?.touched)"
        class="error-message"
      >
        <div *ngIf="code?.errors?.['required']">Code is required.</div>
      </div>
      <nz-input-number
        [nzStep]="1"
        style="width: 73%"
        formControlName="phoneNumber"
      ></nz-input-number>
      <div
        *ngIf="
          phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)
        "
        class="error-message"
      >
        <div *ngIf="phoneNumber?.errors?.['required']">
          Phone number is required.
        </div>
      </div>
    </nz-input-number-group>
  </div>

  <div modal-footer>
    <button
      nz-button
      class="modal-button"
      (click)="handleAddAdmin()"
      [disabled]="addAdminForm.invalid"
    >
      Add Admin
    </button>
  </div>
</app-modal>
