<nz-card>
  <div nz-row>
    <div nz-col nzSpan="20">
      <div nz-flex>
        <span>Add Sub admin</span>
      </div>
    </div>
    <div nz-col nzSpan="4">
      <button nz-button class="primary-button">Add Subadmin</button>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div nz-row class="privileges-list">
    <div nz-col nzSpan="4" class="list-header">
      <div nz-flex>
        <span>Sub Admin Lists</span>
      </div>
    </div>
    <div nz-col nzSpan="20" class="scrollable-col">
      <div class="horizontal-scroll">
        <ng-container *ngFor="let privilege of privileges">
          <div
            nz-flex
            [nzVertical]="true"
            nzAlign="center"
            class="privilege-item"
          >
            <span>{{ privilege }}</span>
            <div nz-flex nzGap="large">
              <span>Read</span>
              <span>Write</span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="4" class="list-header">
      <div nz-flex>
        <span>John</span>
      </div>
    </div>
    <div nz-col nzSpan="20" class="scrollable-col">
      <div class="horizontal-scroll">
        <ng-container *ngFor="let privilege of privileges">
          <div
            nz-flex
            [nzVertical]="true"
            nzAlign="center"
            class="privilege-item"
          >
            <div nz-flex nzGap="large">
              <!-- <nz-checkbox>Read</nz-checkbox>
              <nz-checkbox>Write</nz-checkbox> -->
              <label nz-checkbox></label>
              <label nz-checkbox></label>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</nz-card>
