<nz-card>
  <div nz-row>
    <div nz-col nzSpan="20">
      <div nz-flex nzAlign="center" nzGap="middle">
        <img src="assets/icons/user-edit.svg" alt="edit" />
        <span class="sub-title">Add Sub admin</span>
      </div>
      <nz-divider></nz-divider>
      <nz-flex [nzGap]="40">
        <nz-flex nzAlign="center" [nzVertical]="true">
          <span class="admin-label-info">Total Admins </span>
          <span class="admin-value-info">{{ totalAdmins }}</span>
        </nz-flex>
        <!-- <nz-flex nzAlign="center" [nzVertical]="true">
          <span class="admin-label-info">Active Users </span>
          <span class="admin-value-info">2</span>
        </nz-flex> -->
      </nz-flex>
    </div>
    <div nz-col nzSpan="4">
      <button nz-button class="primary-button" (click)="openAddAdminModal()">
        Add Subadmin
      </button>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div nz-row class="privileges-list">
    <div nz-col nzSpan="4" class="list-header">
      <div nz-flex>
        <span>Sub Admin Lists</span>
      </div>
    </div>
    <div nz-col nzSpan="20" class="scrollable-col">
      <div class="horizontal-scroll">
        <ng-container *ngFor="let privilege of privileges">
          <div
            nz-flex
            [nzVertical]="true"
            nzAlign="center"
            class="privilege-item"
          >
            <span>{{ privilege?.label }}</span>
            <div nz-flex nzGap="small">
              <span>Read</span>
              <span>Read/Write</span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div nz-row *ngFor="let item of adminList; let i = index" class="admin-item">
    <div nz-col nzSpan="4" class="list-header">
      <div nz-flex nzAlign="center" nzJustify="space-between">
        <span>{{ item?.name }}</span>

        <button
          nz-button
          nzType="text"
          nz-popover
          [nzPopoverVisible]="visibleIndex === i"
          (nzPopoverVisibleChange)="change($event, i)"
          nzPopoverTrigger="click"
          nzPopoverPlacement="right"
          [nzPopoverContent]="contentTemplate"
        >
          <span
            nz-icon
            nzType="ellipsis"
            nzTheme="outline"
            style="font-size: 24px"
          ></span>
        </button>
        <ng-template #contentTemplate>
          <nz-flex [nzVertical]="true" nzGap="small">
            <button nz-button nzType="text" (click)="editAdmin(item?._id)">
              <span>Edit Admin Details</span>
            </button>
            <button nz-button nzType="text" (click)="removeAdmin(item?._id)">
              <span>Remove Admin</span>
            </button>
          </nz-flex>
        </ng-template>
      </div>
    </div>
    <div nz-col nzSpan="20" class="scrollable-col">
      <div class="horizontal-scroll">
        <ng-container *ngFor="let privilege of privileges">
          <div
            nz-flex
            [nzVertical]="true"
            nzAlign="center"
            class="privilege-item"
          >
            <div nz-flex nzGap="large">
              <label
                nz-checkbox
                [ngModel]="
                  getPrivilegeStatus(item._id, privilege?.value, 'read')
                "
                (ngModelChange)="
                  updatePrivilege($event, item._id, privilege?.value, 'read')
                "
              ></label>
              <label
                nz-checkbox
                [ngModel]="
                  getPrivilegeStatus(item._id, privilege?.value, 'write')
                "
                (ngModelChange)="
                  updatePrivilege($event, item._id, privilege?.value, 'write')
                "
              ></label>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</nz-card>
<app-modal [showModal]="addAdminModal" (handleCancelModal)="handleCancel()">
  <div modal-content [formGroup]="addAdminForm">
    <nz-flex nzJustify="center" nzAlign="center" [nzVertical]="true">
      <img src="assets/icons/tick.svg" alt="block" width="50" height="50" />
      <h3>{{ editAdminDetails ? "Edit" : "Add New" }} Sub admin user</h3>
    </nz-flex>
    <div nz-flex [nzVertical]="true" class="add-admin-input">
      <span>UserName</span>
      <input nz-input nzSize="default" formControlName="username" />
      <div
        *ngIf="username?.invalid && (username?.dirty || username?.touched)"
        class="error-message"
      >
        <div *ngIf="username?.errors?.['required']">Username is required.</div>
        <div *ngIf="username?.errors?.['pattern']">
          Username must start with an alphabet and contain only alphanumeric
          characters.
        </div>
        <div *ngIf="username?.errors?.['maxLength']">
          Username cannot be longer than 20 characters.
        </div>
      </div>
    </div>
    <div nz-flex [nzVertical]="true" class="add-admin-input">
      <span>Registered Email Id</span>
      <input nz-input nzSize="default" formControlName="email" />
      <div
        *ngIf="email?.invalid && (email?.dirty || email?.touched)"
        class="error-message"
      >
        <div *ngIf="email?.errors?.['required']">Email is required.</div>
        <div *ngIf="email?.errors?.['email']">Invalid email format.</div>
      </div>
    </div>
    <div nz-flex [nzGap]="85" class="add-admin-input">
      <span>Code</span>
      <span>Phone Number</span>
    </div>
    <nz-input-number-group nzCompact>
      <nz-select formControlName="code" ngModel="+91">
        <nz-option nzValue="+91" nzLabel="+91"></nz-option>
        <nz-option nzValue="+1" nzLabel="+1" selected></nz-option>
      </nz-select>
      <div
        *ngIf="code?.invalid && (code?.dirty || code?.touched)"
        class="error-message"
      >
        <div *ngIf="code?.errors?.['required']">Code is required.</div>
      </div>
      <nz-input-number
        [nzStep]="1"
        style="width: 73%"
        formControlName="phoneNumber"
      ></nz-input-number>
      <div
        *ngIf="
          phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)
        "
        class="error-message"
      >
        <div *ngIf="phoneNumber?.errors?.['required']">
          Phone number is required.
        </div>
      </div>
    </nz-input-number-group>
  </div>

  <div modal-footer>
    <button
      nz-button
      class="modal-button"
      (click)="handleAddAdmin()"
      [disabled]="addAdminForm.invalid"
    >
      {{ editAdminDetails ? "Edit" : "Add" }} Admin
    </button>
  </div>
</app-modal>

<app-modal [showModal]="openDeleteModal" (handleCancelModal)="handleCancel()">
  <div modal-content>
    <nz-flex nzJustify="center" nzAlign="center" [nzVertical]="true">
      <img src="assets/icons/tick.svg" alt="block" width="50" height="50" />
      <h3>Remove</h3>
      <div class="sub-text">Are you sure you want to Remove this admin?</div>
    </nz-flex>
  </div>
  <div modal-footer>
    <div nz-flex>
      <button nz-button class="modal-button" (click)="handleCancel()">
        Cancel
      </button>
      <button nz-button class="modal-button" (click)="remove()">Remove</button>
    </div>
  </div>
</app-modal>
