<app-table-view
  [data]="listOfData"
  [columns]="listOfColumns"
  [enablePagination]="true"
  [enableSorting]="true"
  [enableSearch]="false"
  [enableActions]="true"
  (sortChange)="onSortChange($event)"
  [loader]="loader"
  [totalRecords]="totalRecords"
  [tableRowTemplate]="tableRowTemplate"
  (pageChange)="onPageChange($event)"
  (search)="onSearchInput($event)"
  (filteredList)="onFilterHandler($event)"
>
  <ng-template #tableRowTemplate let-data let-columns="columns">
    <tr *ngFor="let item of data">
      <td>
        <div nz-flex nzAlign="center">
          <img
            [src]="item?.exteriorImageUrl || 'assets/icons/Tractor.png'"
            class="tractor-picture"
            alt="profile"
          />
          &nbsp;<span>{{ item["tractorId"]?.name }}</span>
        </div>
      </td>
      <!-- <td>
        <span>{{ item["userId"]?.username }}</span>
      </td> -->

      <td>
        <span>{{ item["proposedStartTime"] * 1000 | date : "d MMM, y" }}</span>
      </td>

      <td>
        <div nz-flex nzGap="small" nzAlign="flex-end" nzJustify="center">
          <button
            nz-button
            nz-dropdown
            nzPlacement="bottomLeft"
            nzTrigger="click"
            [nzDropdownMenu]="actions"
          >
            More Actions
            <i nz-icon nzType="down"></i>
          </button>
          <nz-dropdown-menu #actions="nzDropdownMenu">
            <ul nz-menu class="actions_list">
              <li
                nz-menu-item
                (click)="handleRequest(item, 'accept')"
                [nzDisabled]="item['isApprovedByAdmin']"
                nz-flex
                nzGap="middle"
              >
                <span nz-icon nzType="check-circle" nzTheme="outline"></span>
                <span>
                  {{ item["isApprovedByAdmin"] ? "Approved" : "Approve" }}</span
                >
              </li>
              <nz-divider></nz-divider>
              <li
                nz-menu-item
                (click)="handleRequest(item, 'deny')"
                nz-flex
                nzGap="small"
              >
                <span nz-icon nzType="stop" nzTheme="outline"></span>
                <span>Deny</span>
              </li>
              <nz-divider></nz-divider>
              <li
                nz-menu-item
                (click)="handleRequest(item, 'reject')"
                nz-flex
                nzGap="small"
              >
                <span nz-icon nzType="close-circle" nzTheme="outline"></span>
                <span>Reject</span>
              </li>
              <nz-divider></nz-divider>
              <!-- <li
                nz-menu-item
                (click)="handleRequest(item, 'edit')"
                nz-flex
                nzGap="small"
              >
                <span nz-icon nzType="edit" nzTheme="outline"></span>
                <span> Edit</span>
              </li> -->
            </ul>
          </nz-dropdown-menu>
        </div>
      </td>
    </tr>
  </ng-template>
</app-table-view>
<div *ngIf="openDenialModal">
  <app-deny-modal
    (handleClose)="handleClose()"
    [tractorData]="tractorData"
  ></app-deny-modal>
</div>
<div *ngIf="openApproveModal">
  <app-approve-modal
    (handleClose)="handleClose()"
    [tractorData]="tractorData"
  ></app-approve-modal>
</div>

<app-modal [showModal]="openRejectModal" (handleCancelModal)="handleClose()">
  <div modal-content>
    <nz-flex nzJustify="center" nzAlign="center" [nzVertical]="true">
      <img src="assets/icons/block.svg" alt="block" width="50" height="50" />
      <div class="modal-header-text">
        <h2>Reject the Listing</h2>
        <span>Are you sure you want to proceed with this action?</span>
      </div>
    </nz-flex>
  </div>
  <div modal-footer>
    <button nz-button class="modal-button" (click)="handleReject()">
      Reject
    </button>
  </div>
</app-modal>
