.auction-card {
  border-radius: 10px;
  border: 1px solid var(--bordr_color, #dadce0);
  padding: 10px;
  div {
    padding: 5px;
    font-size: var(--font-xs);
  }
}
.tractor-info {
  margin: 20px 0px;
}
