<nz-card class="details_card">
  <div nz-row *ngIf="photographerData; else skeleton">
    <div nz-col nzSpan="5">
      <div class="personal_details">
        <div
          nz-flex
          nzJustify="center"
          nzAlign="center"
          [nzVertical]="true"
          nzGap="small"
        >
          <img src="assets/icons/profile_container.svg" alt="profile" />

          <img
            [src]="photographerData?.profilePic"
            alt="Profile Picture"
            class="details_picture"
          />
          <span class="personal-details-name">
            {{
              photographerData?.fullname ? photographerData?.fullname : "N/A"
            }}</span
          >
        </div>
        <div nz-flex nzJustify="center" nzAlign="center" [nzVertical]="true">
          <span>Member Since:</span>
          <span> {{ photographerData.createdAt | date : "d MMM, y" }}</span>
        </div>
      </div>
    </div>
    <nz-divider nzType="vertical" class="vertical-divider"></nz-divider>
    <div nz-col nzOffset="1" nzSpan="17" class="nz-mb-2">
      <!-- <div
        nz-flex
        nzJustify="space-between"
        nzAlign="end"
        class="personal_info"
      >
        <span class="personal-info-title">Personal Information</span>
      </div> -->
      <div
        nz-flex
        nzJustify="space-between"
        nzAlign="end"
        class="personal_info"
      >
        <span class="personal-info-title">Personal Information</span>
        <button
          nz-button
          (click)="openBlockModal()"
          class="block-unblock-button"
        >
          {{ userBlockText }}
        </button>
      </div>
      <div nz-row class="personal-info-container">
        <div nz-col nzSpan="10">
          <div nz-flex nzGap="small" class="personal-info-row">
            <div class="personal-info-row-key">
              <span nz-icon nzType="user" nzTheme="outline"></span>&nbsp;<span
                >Full name:</span
              >
            </div>
            <span class="personal-info-row-value">
              {{
                photographerData?.fullname ? photographerData?.fullname : "N/A"
              }}</span
            >
          </div>
          <div nz-flex nzGap="small" class="personal-info-row">
            <div class="personal-info-row-key">
              <span nz-icon nzType="phone" nzTheme="outline"></span>&nbsp;<span
                >Phone Number:</span
              >
            </div>
            <span class="personal-info-row-value">
              {{
                photographerData?.phoneNumber
                  ? photographerData?.phoneNumber
                  : "N/A"
              }}</span
            >
          </div>
          <div nz-flex nzGap="small" class="personal-info-row">
            <div class="personal-info-row-key">
              <span nz-icon nzType="global" nzTheme="outline"></span>&nbsp;<span
                >Country:</span
              >
            </div>
            <div class="personal-info-row-value">
              <span>
                {{
                  photographerData?.country ? photographerData?.country : "N/A"
                }}</span
              >
            </div>
          </div>
        </div>
        <div nz-col nzSpan="12">
          <div nz-flex nzGap="small" class="personal-info-row">
            <div class="personal-info-row-key">
              <span nz-icon nzType="mail" nzTheme="outline"></span>&nbsp;<span
                >Email Address:</span
              >
            </div>
            <span class="personal-info-row-value">{{
              photographerData?.email ? photographerData?.email : "N/A"
            }}</span>
          </div>
          <div nz-flex nzGap="small" class="personal-info-row">
            <div class="personal-info-row-key">
              <span nz-icon nzType="calendar" nzTheme="outline"></span
              >&nbsp;<span>Joining Date:</span>
            </div>
            <span class="personal-info-row-value">
              {{ photographerData?.createdAt | date : "d MMM, y" }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #skeleton>
    <div nz-row>
      <div nz-col nzSpan="6">
        <div
          nz-flex
          nzJustify="center"
          nzAlign="center"
          [nzVertical]="true"
          nzGap="small"
          class="personal_details"
        >
          <nz-skeleton-element
            nzType="avatar"
            [nzSize]="100"
          ></nz-skeleton-element>
        </div>
      </div>
      <div nz-col nzOffset="1" nzSpan="17" class="nz-mb-2">
        <nz-skeleton [nzActive]="true"></nz-skeleton>
      </div>
    </div>
  </ng-template>
</nz-card>

<!-- <nz-card class="detail-outer-card">
  <nz-flex class="heading" nzAlign="center" nzGap="small">
    <span nz-icon nzType="camera" nzTheme="outline"></span>
    <span>Photographer Gallery</span>
  </nz-flex>
  <nz-flex>
    <div class="thin-text">No Photographs found!</div>
  </nz-flex>
</nz-card> -->

<app-photographer-service></app-photographer-service>

<app-modal
  [showModal]="showBlockReasonModal"
  (handleCancelModal)="handleCancel()"
>
  <div modal-content>
    <nz-flex nzJustify="center" nzAlign="center" [nzVertical]="true">
      <img src="assets/icons/block.svg" alt="block" width="50" height="50" />
      <h3>{{ userBlockText }} User Confirmation</h3>
    </nz-flex>
    <nz-radio-group
      [(ngModel)]="selectedReason"
      *ngIf="!photographerData?.isBlocked"
    >
      <label
        *ngFor="let reason of reasons"
        nz-radio
        [nzValue]="reason"
        [attr.for]="'reason-' + reason"
      >
        {{ reason }}
      </label>
    </nz-radio-group>
    <h4>Other Reasons:</h4>
    <textarea
      nz-input
      placeholder="Other reasons"
      [(ngModel)]="otherReason"
      id="otherReason"
    ></textarea>
  </div>
  <div modal-footer>
    <button
      nz-button
      class="primary-button"
      (click)="handleUserAccount()"
      [disabled]="shouldDisableButton()"
    >
      {{ userBlockText }} User
    </button>
  </div>
</app-modal>
