<nz-row nzJustify="space-between">
  <div nz-col nzSpan="12" class="active-users">
    <div class="table-head">Active Users</div>
    <app-table-view
      [data]="listOfData"
      [columns]="listOfColumns"
      [enablePagination]="false"
      [enableSorting]="true"
      [enableSearch]="false"
      [enableActions]="true"
      (sortChange)="onSortChange($event)"
      [loader]="loader"
      [tableRowTemplate]="tableRowTemplate"
      [isDetailTable]="true"
    >
      <ng-template #tableRowTemplate let-data let-columns="columns">
        <tr *ngFor="let item of data">
          <td>
            <div nz-flex nzAlign="center">
              <img
                src="assets/icons/profile_container.svg"
                alt="profile"
                width="40"
                height="40"
              />
              <img src="{{ item['profilePicture'] }}" class="profile-picture" />
              &nbsp;<span>{{ item["fullName"] || item["username"] }}</span>
            </div>
          </td>
          <!-- <td>
            <span>{{ item["email"] }}</span>
          </td> -->
          <td>
            <img
              src="assets/icons/usflag.png"
              alt="flag"
              class="country-flag"
              width="22"
              height="18"
            />
            <span>{{
              countryHelper.getCountryName(item["countryCode"]) || "USA"
            }}</span>
          </td>

          <td>
            <span [ngClass]="{ block_status: item['isDeleted'] }">{{
              item["isDeleted"] ? "Blocked" : "N/A"
            }}</span>
          </td>
          <td>
            <button
              nz-button
              class="secondary_button"
              [routerLink]="'/dashboard/user-listing'"
            >
              View More
            </button>
          </td>
        </tr>
      </ng-template>
    </app-table-view>
  </div>
  <div nz-col nzSpan="12" class="active-users">
    <div class="table-head">Active Sellers</div>
    <app-table-view
      [data]="listOfSellerData"
      [columns]="listOfSellerColumns"
      [enablePagination]="false"
      [enableSorting]="true"
      [enableSearch]="false"
      [enableActions]="true"
      (sortChange)="onSortChange($event)"
      [loader]="loader"
      [tableRowTemplate]="tableRowTemplate"
      [isDetailTable]="true"
    >
      <ng-template #tableRowTemplate let-data let-columns="columns">
        <tr *ngFor="let item of data">
          <td>
            <div nz-flex nzAlign="center">
              <img
                src="assets/icons/profile_container.svg"
                alt="profile"
                width="40"
                height="40"
              />
              <img src="{{ item['profilePicture'] }}" class="profile-picture" />
              &nbsp;<span>{{ item["fullName"] || item["username"] }}</span>
            </div>
          </td>
          <td>
            <img
              src="assets/icons/usflag.png"
              alt="flag"
              class="country-flag"
              width="22"
              height="18"
            />
            <span>{{
              countryHelper.getCountryName(item["countryCode"]) || "USA"
            }}</span>
          </td>
          <td>
            {{
              item["totalListedTractors"] > 0 ? item["totalListedTractors"] : 0
            }}
          </td>
          <td>
            <button
              nz-button
              class="secondary_button"
              [routerLink]="'/dashboard/seller-listing'"
            >
              View More
            </button>
          </td>
        </tr>
      </ng-template>
    </app-table-view>
  </div>
</nz-row>
