<nz-carousel [nzEffect]="effect">
  <div
    nz-carousel-content
    class="carousel-content"
    *ngIf="loading"
    nz-flex
    nzJustify="center"
  >
    <nz-spin nzSimple></nz-spin>
  </div>
  <ng-container *ngFor="let item of carouselItems">
    <div nz-carousel-content *ngIf="!loading">
      <div class="carousel-info">
        <span class="vehicle-year">{{ item.year }}</span>
        <div class="title">{{ item.title }}</div>
        <div class="bid-start-date">
          Starting Bid From {{ item.startingBid }}
        </div>
        <div class="date-info" nz-flex nzGap="small" nzAlign="center">
          <span nz-icon nzType="calendar" nzTheme="outline"></span>
          <span>Start Date</span>
          <span>{{ item?.startDate }}</span>
        </div>
        <button
          class="primary-button viewmore-button"
          nz-button
          [routerLink]="'/dashboard/control-panel'"
        >
          View More
        </button>
      </div>
    </div>
  </ng-container>

  <div
    nz-carousel-content
    class="carousel-content"
    nz-flex
    nzJustify="center"
    *ngIf="!carouselItems || carouselItems.length === 0"
  >
    <img src="assets/images/no_data.svg" alt="no_data" />
  </div>
</nz-carousel>

<div class="dashboard-cards">
  <nz-row nzJustify="space-between">
    <div nz-col nzSpan="5" *ngFor="let card of cards">
      <nz-card class="stats-card">
        <div nz-flex [nzVertical]="true" nzGap="middle">
          <img [src]="card.imgSrc" alt="icon" width="45" height="45" />
          <nz-flex [nzVertical]="true">
            <span class="stats-label">{{ card.label }}</span>
            <span class="stats-val">{{ card.value }}</span>
          </nz-flex>
        </div>
      </nz-card>
    </div>
  </nz-row>
</div>

<div class="dashboard-cards">
  <nz-card class="detail-outer-card">
    <nz-row nzJustify="space-between">
      <div nz-col nzSpan="11">
        <nz-flex nzGap="middle" nzAlign="center">
          <img src="assets/icons/top-sell.svg" alt="fav" />
          <span class="sub-title">Top Selling Categories</span>
        </nz-flex>
        <div class="doughnut-chart">
          <canvas #doughnutChartRef></canvas>
          <img
            *ngIf="showNoData"
            src="assets/images/pie_no_data.svg"
            alt="no_data"
          />
        </div>
      </div>
      <div nz-col nzSpan="12">
        <app-table-view
          [data]="auctionInfo"
          [columns]="listOfColumns"
          [enablePagination]="false"
          [enableSorting]="true"
          [enableSearch]="false"
          [enableActions]="true"
          (sortChange)="onSortChange($event)"
          [loader]="false"
          [tableRowTemplate]="tableRowTemplate"
          [isDetailTable]="true"
          (filteredList)="onFilterHandler($event)"
          [isBordered]="false"
        >
          <ng-template #tableRowTemplate let-data let-columns="columns">
            <tr *ngFor="let item of data">
              <td>
                <div nz-flex nzAlign="center">
                  <img
                    [src]="item?.exteriorImageUrl || 'assets/icons/Tractor.png'"
                    class="tractor-picture"
                    alt="profile"
                  />
                  &nbsp;<span>{{ item["tractorId"]?.name }}</span>
                </div>
              </td>
              <td>
                {{ item["category"] }}
              </td>

              <td>{{ item["bidders"] }}</td>
              <td>
                <button
                  nz-button
                  class="secondary_button"
                  [routerLink]="'/dashboard/category-listing'"
                >
                  View More
                </button>
              </td>
            </tr>
          </ng-template>
        </app-table-view>
      </div>
    </nz-row>
  </nz-card>
</div>

<div class="dashboard-cards"><app-active-list></app-active-list></div>
<div class="dashboard-cards"><app-sales-report></app-sales-report></div>

<app-location-graph></app-location-graph>

<div class="dashboard-cards"><app-auction-report></app-auction-report></div>
