<nz-card>
  <form
    nz-form
    [formGroup]="validateForm"
    class="fp-form"
    (ngSubmit)="submitForm()"
  >
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your email!">
        <nz-input-group nzPrefixIcon="user">
          <input
            type="text"
            nz-input
            formControlName="email"
            placeholder="Email"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    Or
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your phonenumber!">
        <nz-input-group nzPrefixIcon="phone">
          <input
            type="text"
            nz-input
            formControlName="phone"
            placeholder="Phone number"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button
      nz-button
      class="login-form-button login-form-margin"
      [nzType]="'primary'"
      [disabled]="!validateForm.valid"
    >
      Submit
    </button>
  </form>
</nz-card>
