<nz-card class="details_card">
  <div nz-row *ngIf="photographRequestData; else skeleton">
    <div nz-col nzSpan="5">
      <div class="personal_details">
        <div
          nz-flex
          nzJustify="center"
          nzAlign="center"
          [nzVertical]="true"
          nzGap="small"
        >
          <img src="assets/icons/profile_container.svg" alt="profile" />

          <img
            [src]="photographRequestData?.sellerId?.profilePicture"
            alt="Profile Picture"
            class="details_picture"
          />
          <span class="personal-details-name">
            {{
              photographRequestData?.sellerId?.fullName
                ? photographRequestData?.sellerId?.fullName
                : "N/A"
            }}</span
          >
        </div>
        <div nz-flex nzJustify="center" nzAlign="center" [nzVertical]="true">
          <span>Member Since:</span>
          <!-- <span> {{ userInfo.createdAt | date : "d MMM, y" }}</span> -->
        </div>
      </div>
    </div>
    <nz-divider nzType="vertical" class="vertical-divider"></nz-divider>
    <div nz-col nzOffset="1" nzSpan="17" class="nz-mb-2">
      <div
        nz-flex
        nzJustify="space-between"
        nzAlign="end"
        class="personal_info"
      >
        <span class="personal-info-title">Personal Information</span>
      </div>
      <div nz-row class="personal-info-container">
        <div nz-col nzSpan="10">
          <div nz-flex nzGap="small" class="personal-info-row">
            <div class="personal-info-row-key">
              <span nz-icon nzType="user" nzTheme="outline"></span>&nbsp;<span
                >Full name:</span
              >
            </div>
            <span class="personal-info-row-value">
              {{
                photographRequestData?.sellerId?.fullName
                  ? photographRequestData?.sellerId?.fullName
                  : "N/A"
              }}</span
            >
          </div>
          <div nz-flex nzGap="small" class="personal-info-row">
            <div class="personal-info-row-key">
              <span nz-icon nzType="phone" nzTheme="outline"></span>&nbsp;<span
                >Phone Number:</span
              >
            </div>
            <span class="personal-info-row-value">
              {{
                photographRequestData?.sellerId?.phoneNumber
                  ? photographRequestData?.sellerId?.phoneNumber
                  : "N/A"
              }}</span
            >
          </div>
          <div nz-flex nzGap="small" class="personal-info-row">
            <div class="personal-info-row-key">
              <span nz-icon nzType="camera" nzTheme="outline"></span>&nbsp;<span
                >Number Of Photos:</span
              >
            </div>
            <div class="personal-info-row-value">
              <span>100+</span>
            </div>
          </div>
        </div>
        <div nz-col nzSpan="12">
          <div nz-flex nzGap="small" class="personal-info-row">
            <div class="personal-info-row-key">
              <span nz-icon nzType="mail" nzTheme="outline"></span>&nbsp;<span
                >Email Address:</span
              >
            </div>
            <span class="personal-info-row-value">{{
              photographRequestData?.sellerId?.email
                ? photographRequestData?.sellerId?.email
                : "N/A"
            }}</span>
          </div>
          <div nz-flex nzGap="small" class="personal-info-row">
            <div class="personal-info-row-key">
              <span nz-icon nzType="calendar" nzTheme="outline"></span
              >&nbsp;<span>Date of Request:</span>
            </div>
            <span class="personal-info-row-value">
              {{ photographRequestData?.createdAt | date : "d MMM, y" }}</span
            >
          </div>
          <div nz-flex nzGap="small" class="personal-info-row">
            <div class="personal-info-row-key">
              <span nz-icon nzType="reconciliation" nzTheme="outline"></span
              >&nbsp;<span>Status:</span>
            </div>
            <span class="personal-info-row-value">
              {{ photographRequestData?.status }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #skeleton>
    <div nz-row>
      <div nz-col nzSpan="6">
        <div
          nz-flex
          nzJustify="center"
          nzAlign="center"
          [nzVertical]="true"
          nzGap="small"
          class="personal_details"
        >
          <nz-skeleton-element
            nzType="avatar"
            [nzSize]="100"
          ></nz-skeleton-element>
        </div>
      </div>
      <div nz-col nzOffset="1" nzSpan="17" class="nz-mb-2">
        <nz-skeleton [nzActive]="true"></nz-skeleton>
      </div>
    </div>
  </ng-template>
</nz-card>
<div class="add_price_container">
  <div class="addprice_header">
    <span nz-icon nzType="dollar-circle" nzTheme="outline"></span>
    <span>Add Photographer Price</span>
  </div>
  <div class="addprice_content" nz-flex [nzVertical]="true" nzGap="small">
    <span>Price</span>
    <nz-input-number-group nzAddOnAfterIcon="dollar">
      <nz-input-number
        [(ngModel)]="photographerPrice"
        [nzStep]="1"
        (ngModelChange)="validatePrice()"
      ></nz-input-number>
    </nz-input-number-group>
    <div *ngIf="validationError" class="error-message">
      {{ validationError }}
    </div>
    <button
      nz-button
      class="primary-button submit-button"
      (click)="handleSubmit()"
      [disabled]="!validatePrice()"
    >
      Submit
    </button>
  </div>
</div>

<div class="detail-outer-card">
  <nz-flex class="heading" nzAlign="center" nzGap="small">
    <span nz-icon nzType="camera" nzTheme="outline"></span>
    <span>Photographer Tracker</span>
  </nz-flex>
  <div nz-row>
    <div nz-col nzSpan="12" *ngIf="coordinates">
      <div
        style="height: 300px; width: 400px"
        leaflet
        leafletDraw
        [leafletOptions]="mapOptions"
        (leafletMapReady)="initMarkers($event)"
      ></div>
    </div>
    <div nz-col nzSpan="12">
      <nz-flex [nzVertical]="true" nzGap="middle">
        <ng-container *ngFor="let user of photographerData">
          <nz-flex nzJustify="space-between" nzAlign="center">
            <nz-flex nzGap="middle" nzAlign="center">
              <img
                [src]="user.profilePic || 'assets/icons/profile.svg'"
                alt="profile"
                width="30"
                height="30"
                class="photographer-image"
              />

              <nz-flex [nzVertical]="true">
                <nz-flex nzGap="middle">
                  <span>{{ user.fullname }}</span>
                  <ng-container *ngFor="let _ of [].constructor(user.rating)">
                    <img src="assets/icons/star.svg" alt="star" />
                  </ng-container>
                </nz-flex>
                <span>{{ user.email }}</span>
              </nz-flex>
            </nz-flex>
            <nz-flex nzAlign="center" nzGap="middle">
              <button
                nz-button
                class="primary-button contact-button"
                (click)="openContact(user)"
              >
                Contact
              </button>
              <button
                nz-button
                class="secondary-button"
                (click)="handleViewMore(user?._id)"
              >
                View More
              </button>
            </nz-flex>
          </nz-flex>
        </ng-container>
      </nz-flex>

      <div *ngIf="!loading && photographerData.length === 0">
        No photographers found.
      </div>
    </div>
  </div>
</div>
<app-modal [showModal]="contactDialog" (handleCancelModal)="handleCancel()">
  <div modal-content>
    <nz-flex nzJustify="center" nzAlign="center" [nzVertical]="true">
      <img src="assets/icons/camera.svg" alt="block" width="50" height="50" />
      <h3>Contact Photographer</h3>
      <span class="thin-text">Check number below</span>
    </nz-flex>

    <div class="contact-card">
      <nz-flex nzGap="middle">
        <img
          [src]="photographerInfo?.profilePic || 'assets/icons/profile.svg'"
          alt="profile"
          width="30"
          height="30"
          class="photographer-image"
        />
        <nz-flex [nzVertical]="true">
          <span>{{ photographerInfo?.fullname }}</span>
          <span>{{ photographerInfo?.email }}</span>
        </nz-flex>
      </nz-flex>
      <div class="photographer-contact">
        {{ photographerInfo?.phoneNumber }}
      </div>
    </div>
  </div>

  <div modal-footer>
    <button nz-button class="modal-button" (click)="handleCancel()">
      Cancel
    </button>
    <button nz-button class="modal-button" (click)="handleAssign()">
      Assign
    </button>
  </div>
</app-modal>
