<nz-card>
  <div class="profile-update">
    <nz-flex nzGap="middle" nzAlign="center">
      <span
        nz-icon
        nzType="edit"
        nzTheme="outline"
        style="font-size: 1rem"
      ></span>
      <span class="sub-title">Setting</span>
    </nz-flex>

    <nz-divider></nz-divider>

    <nz-upload
      nzType="drag"
      [nzLimit]="2"
      [nzSize]="200"
      [nzFileType]="'image/png,image/jpeg,image/gif,image/bmp'"
      (nzChange)="handleChange($event)"
      nzAction="https://jsonplaceholder.typicode.com/posts/"
    >
      <p class="ant-upload-drag-icon">
        <i class="anticon anticon-inbox"></i>
      </p>
      <p class="ant-upload-text">Click or drag file to this area to upload</p>
      <p class="ant-upload-hint">
        Support for a single or bulk upload. Strictly prohibit from uploading
        company data or other band files
      </p>
    </nz-upload>
  </div>
  <nz-divider></nz-divider>
  <div class="password-update"></div>
</nz-card>
