<nz-card [hidden]="pageLoad" *ngIf="!pageLoad">
  <div class="profile-update">
    <nz-flex nzGap="middle" nzAlign="center">
      <span
        nz-icon
        nzType="edit"
        nzTheme="outline"
        style="font-size: 1rem"
      ></span>
      <span class="sub-title">Settings</span>
    </nz-flex>

    <nz-divider></nz-divider>
    <div nz-row>
      <div nz-col nzSpan="4">
        <nz-upload
          class="avatar-uploader"
          nzName="avatar"
          nzListType="picture-card"
          [nzShowUploadList]="false"
          [nzFileType]="'image/png,image/jpeg,image/gif,image/bmp'"
          [nzCustomRequest]="handleCustomRequest"
        >
          <ng-container *ngIf="!avatarUrl">
            <span
              class="upload-icon"
              nz-icon
              [nzType]="loading ? 'loading' : 'plus'"
            ></span>
            <div class="ant-upload-text">Upload</div>
          </ng-container>

          <img
            *ngIf="avatarUrl"
            [src]="avatarUrl || 'assets/icons/profile.svg'"
            style="width: 100%"
            alt="profile"
            [hidden]="imageLoaded"
          />
          <nz-spin *ngIf="imageLoaded" nzSimple></nz-spin>
        </nz-upload>
      </div>
      <div nz-col nzSpan="20">
        <div nz-flex [nzVertical]="true" [nzGap]="40">
          <div class="profile-name">
            <div class="sub-text">Full Name</div>
            <input
              nz-input
              [(ngModel)]="profileName"
              #profileNameInput="ngModel"
              [minlength]="3"
              [maxlength]="50"
              (input)="onProfileNameInputChange()"
            />
            <div *ngIf="profileNameInput.errors" class="error-message">
              <div *ngIf="profileNameInput.errors?.['minlength']">
                Full Name must be at least 3 characters long.
              </div>
              <div *ngIf="profileNameInput.errors?.['maxlength']">
                Full Name cannot exceed 50 characters.
              </div>
            </div>
          </div>

          <button
            nz-button
            class="primary-button"
            (click)="updateProfileDetails()"
            [disabled]="!profileDetailsUpdated"
          >
            Update Profile
          </button>
        </div>
      </div>
    </div>
  </div>
  <nz-divider></nz-divider>
  <div class="password-update">
    <span class="sub-title updatePassword">Update Password</span>
    <form
      nz-form
      [formGroup]="resetPasswordForm"
      class="login-form"
      (ngSubmit)="submitForm()"
    >
      <nz-form-item class="password-input">
        <nz-form-label [nzSpan]="7" nzRequired>Old Password</nz-form-label>
        <nz-form-control
          [nzSpan]="12"
          nzHasFeedback
          nzErrorTip="Please input your password!"
        >
          <input
            nz-input
            type="password"
            formControlName="oldPassword"
            placeholder="Enter your old password"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="password-input">
        <nz-form-label [nzSpan]="7" nzRequired>Password</nz-form-label>
        <nz-form-control
          [nzSpan]="12"
          nzHasFeedback
          nzErrorTip="Please input your password!"
        >
          <input
            nz-input
            type="password"
            formControlName="password"
            placeholder="Enter your new password"
            (ngModelChange)="validateConfirmPassword()"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="password-input">
        <nz-form-label [nzSpan]="9" nzRequired>Confirm Password</nz-form-label>
        <nz-form-control
          [nzSpan]="12"
          nzHasFeedback
          [nzErrorTip]="passwordErrorTpl"
        >
          <input
            nz-input
            type="password"
            formControlName="confirmPassword"
            placeholder="confirm your password"
          />
          <ng-template #passwordErrorTpl let-control>
            @if (control.errors?.['required']) { Please confirm your password! }
            @if (control.errors?.['confirm']) { Password is inconsistent! }
          </ng-template>
        </nz-form-control>
      </nz-form-item>
      <nz-flex nzJustify="flex-end">
        <button
          nz-button
          class="primary-button"
          [disabled]="!resetPasswordForm.valid"
        >
          Update Password
        </button>
      </nz-flex>
    </form>
  </div>
</nz-card>

<nz-flex
  *ngIf="pageLoad"
  nzJustify="center"
  nzAlign="center"
  class="loader-page"
>
  <nz-spin nzSimple></nz-spin>
</nz-flex>
