<div class="wrapper-faq" *ngIf="!openFaqForm">
  <div nz-flex nzJustify="space-between" class="header">
    <div class="sub-title">Frequently Asked Questions</div>
    <button nz-button class="block-unblock-button" (click)="addNew()">
      Create New
    </button>
  </div>
  <nz-collapse [nzBordered]="false">
    @for (panel of panels; track panel) {
    <nz-collapse-panel
      [nzHeader]="panel.name"
      [nzActive]="panel.active"
      [nzExtra]="extraTpl"
    >
      <p>{{ panel?.content }}</p>
      <ng-template #extraTpl>
        <div nz-flex nzGap="small">
          <span
            nz-icon
            nzType="edit"
            (click)="editFaq($event, panel?.id)"
          ></span>
          <span
            nz-icon
            nzType="delete"
            (click)="deleteFaq($event, panel?.id)"
          ></span>
        </div>
      </ng-template>
    </nz-collapse-panel>
    }
  </nz-collapse>
</div>
<div nz-flex [nzVertical]="true" nzGap="middle" *ngIf="openFaqForm">
  <div class="sub-title">{{ isEdit ? "Edit" : "Add New" }} Question</div>
  <form nz-form [formGroup]="faqForm" (ngSubmit)="submitNewQuestion()">
    <div nz-flex [nzVertical]="true" nzGap="small">
      <span>{{ isEdit ? "Edit" : "Add" }} Question</span>
      <textarea
        nz-input
        placeholder="Question"
        formControlName="question"
        nzAutosize
      ></textarea>
    </div>
    <div nz-flex [nzVertical]="true" nzGap="small">
      <span>Answer</span>
      <textarea
        nz-input
        placeholder="Answer"
        formControlName="answer"
        [nzAutosize]="{ minRows: 3, maxRows: 8 }"
      ></textarea>
    </div>
    <div nz-flex nzJustify="start" nzGap="middle" class="buttons">
      <button
        nz-button
        nzType="default"
        class="later-button"
        (click)="cancelEdit()"
      >
        Later
      </button>
      <button nz-button class="submit-button" type="submit">Submit FAQ</button>
    </div>
  </form>
</div>

<app-modal [showModal]="openDeleteModal" (handleCancelModal)="handleCancel()">
  <div modal-content>
    <nz-flex nzJustify="center" nzAlign="center" [nzVertical]="true">
      <img src="assets/icons/trash.svg" alt="block" width="37" height="37" />
      <div class="modal-header-text">
        <h2>Delete "FAQ..."</h2>
        <span>Are you sure you want to proceed with these changes</span>
      </div>
    </nz-flex>
  </div>
  <div modal-footer>
    <button nz-button (click)="handleDeleteFaq()" class="modal-button">
      Confirm
    </button>
    <button nz-button (click)="handleCancel()" class="modal-button">
      Later
    </button>
  </div>
</app-modal>
