<nz-card>
  <div nz-row>
    <div nz-col nzSpan="12" class="col-wrap">
      <div nz-row [nzGutter]="16">
        <ng-container
          *ngIf="vehicleInfo?.tractorId?.images?.length >= 5; else singleImage"
        >
          <div nz-col class="gutter-row" [nzSpan]="4">
            <div
              nz-flex
              nzGap="small"
              [nzVertical]="true"
              class="thumbnails-container"
            >
              <div
                *ngFor="
                  let img of vehicleInfo?.tractorId?.images.slice(1, 5);
                  let i = index
                "
                class="thumbnail-wrapper"
              >
                <img
                  [src]="img.link"
                  height="70"
                  width="70"
                  (click)="viewAllImages()"
                  alt="Thumbnail {{ i + 1 }}"
                />
                <div
                  *ngIf="vehicleInfo?.tractorId?.images?.length > 3 && i === 3"
                  (click)="viewAllImages()"
                  class="view-all"
                >
                  View All
                </div>
              </div>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="20">
            <img
              *ngIf="vehicleInfo?.tractorId?.images?.length"
              [src]="
                vehicleInfo?.tractorId?.images[0].link ||
                'assets/images/tt_logo.svg'
              "
              height="300"
              width="420"
              alt="Main Image"
            />
          </div>
        </ng-container>
        <ng-template #singleImage>
          <div nz-col class="gutter-row" [nzSpan]="24">
            <img
              *ngIf="vehicleInfo?.tractorId?.images.length"
              [src]="
                vehicleInfo?.tractorId?.images[0].link ||
                'assets/images/tt_logo.svg'
              "
              height="300"
              width="100%"
              alt="tractor"
            />
          </div>
        </ng-template>
      </div>

      <nz-modal
        [(nzVisible)]="isCarouselVisible"
        nzTitle="All Images"
        (nzOnCancel)="isCarouselVisible = false"
        [nzFooter]="null"
        [nzWidth]="1000"
      >
        <ng-container *nzModalContent>
          <nz-carousel nzEffect="scrollx" nzAutoPlay>
            @for (index of tractorImages; track index) {
            <div nz-carousel-content>
              <img
                [src]="index || 'assets/images/image.svg'"
                alt="tractorpic"
                height="100%"
                width="100%"
              />
            </div>
            }
          </nz-carousel>
        </ng-container>
      </nz-modal>

      <div class="info-container">
        <div class="info-text" nz-flex nzAlign="center">
          <span>Additional Information</span>
        </div>
        <div
          *ngFor="let item of additionalInfo; let i = index"
          class="additional-info"
          nz-row
        >
          <div nz-col nzSpan="8">
            <span class="info-label">{{ item.label }}</span>
          </div>
          <div
            nz-col
            nzOffset="1"
            nzSpan="15"
            nz-flex
            class="info-veh-value"
            nzJustify="space-between"
          >
            <ng-container *ngIf="!item.editMode; else editTemplate">
              <span
                *ngIf="
                  item.id !== 'tyreConditions';
                  else tyreConditionsTemplate
                "
                >{{ item.value }}</span
              >
              <ng-template #tyreConditionsTemplate>
                <div>
                  <div>
                    Track Life Percentage: {{ item?.value?.condition }}%
                  </div>
                  <div>Track Width: {{ item?.value?.width }} inch</div>
                  <div>Tyre Size: {{ item?.value?.size }} inch</div>
                </div>
              </ng-template>
              <i
                *ngIf="isEditMode && item.isEdit"
                nz-icon
                nzType="edit"
                nzTheme="outline"
                (click)="toggleEditMode(i)"
              ></i>
            </ng-container>
            <ng-template #editTemplate>
              <ng-container [ngSwitch]="item.id">
                <!-- For category dropdown -->
                <ng-container *ngSwitchCase="'category'">
                  <nz-select [(ngModel)]="item.value">
                    <nz-option
                      *ngFor="let category of equipmentCategories"
                      [nzLabel]="category"
                      [nzValue]="category"
                    ></nz-option>
                  </nz-select>
                  <button
                    nz-button
                    class="primary-button"
                    (click)="saveEdit(i)"
                  >
                    Submit
                  </button>
                </ng-container>
                <!-- For transmissionType dropdown -->
                <ng-container *ngSwitchCase="'transmissionType'">
                  <nz-select [(ngModel)]="item.value">
                    <nz-option
                      *ngFor="let transmission of transmissions"
                      [nzLabel]="transmission"
                      [nzValue]="transmission"
                    ></nz-option>
                  </nz-select>

                  <button
                    nz-button
                    class="primary-button"
                    (click)="saveEdit(i)"
                  >
                    Submit
                  </button>
                </ng-container>
                <!-- Default input field for other editable items -->
                <ng-container *ngSwitchCase="'tyreConditions'">
                  <nz-flex [nzVertical]="true" nzGap="middle">
                    <input
                      nz-input
                      [(ngModel)]="item.value.condition"
                      placeholder="Track Life Percentage (%)"
                    />
                    <input
                      nz-input
                      [(ngModel)]="item.value.width"
                      placeholder="Track Width (inch)"
                    />
                    <input
                      nz-input
                      [(ngModel)]="item.value.size"
                      placeholder="Tyre Size (inch)"
                    />
                    <button
                      nz-button
                      class="primary-button"
                      (click)="saveEdit(i)"
                    >
                      Submit
                    </button>
                  </nz-flex>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  <nz-input-group [nzSuffix]="suffixButton">
                    <input nz-input [(ngModel)]="item.value" />
                  </nz-input-group>
                  <ng-template #suffixButton>
                    <button
                      nz-button
                      class="primary-button"
                      (click)="saveEdit(i)"
                    >
                      Submit
                    </button>
                  </ng-template>
                </ng-container>
              </ng-container>
            </ng-template>
          </div>
        </div>
      </div>

      <div class="info-container">
        <div
          class="info-text"
          nz-flex
          nzAlign="center"
          nzJustify="space-between"
        >
          <span>Modifications</span>
          <i
            *ngIf="isEditMode"
            nz-icon
            nzType="edit"
            nzTheme="outline"
            (click)="toggleModificationEditMode()"
          ></i>
        </div>
        <form
          [formGroup]="modificationsForm"
          *ngIf="isModificationEditMode"
          (ngSubmit)="onModificationsSubmit()"
        >
          <ul formArrayName="modifications" class="modifications-list">
            <li
              *ngFor="let modCtrl of modificationControls; let i = index"
              [formGroupName]="i"
            >
              <div nz-row nzAlign="middle">
                <div nz-col nzSpan="20">
                  <input
                    nz-input
                    formControlName="modification"
                    nzPlaceHolder="Enter modification"
                  />
                </div>
                <div nz-col nzSpan="4">
                  <span
                    *ngIf="i === modificationControls.length - 1"
                    nz-icon
                    nzType="plus-circle"
                    nzTheme="outline"
                    (click)="addModification()"
                  ></span>
                  <span
                    *ngIf="i > 0"
                    nz-icon
                    nzType="delete"
                    nzTheme="outline"
                    (click)="removeModification(i)"
                  ></span>
                </div>
              </div>
            </li>
          </ul>
          <div nz-row nzJustify="end">
            <button nz-button class="primary-button" type="submit">
              Edit Modifications
            </button>
          </div>
        </form>
        <ul *ngIf="!isModificationEditMode" class="modifications-list">
          <li
            *ngFor="let modification of vehicleInfo?.tractorId?.modifications"
          >
            {{ modification }}
          </li>
        </ul>
      </div>

      <div class="info-container">
        <div
          class="info-text"
          nz-flex
          nzAlign="center"
          nzJustify="space-between"
        >
          <span>Service Logs</span>
          <i
            *ngIf="isEditMode"
            nz-icon
            nzType="edit"
            nzTheme="outline"
            (click)="toggleServiceLogEditMode()"
          ></i>
        </div>
        <form
          [formGroup]="serviceLogsForm"
          *ngIf="isServiceLogEditMode"
          (ngSubmit)="onServiceLogsSubmit()"
        >
          <div formArrayName="serviceLogs" class="service-logs-list">
            <div
              *ngFor="let logCtrl of serviceLogControls; let i = index"
              [formGroupName]="i"
            >
              <div nz-row nzAlign="middle" nzGutter="16">
                <div nz-col nzSpan="10">
                  <nz-date-picker
                    formControlName="serviceDate"
                    nzFormat="dd-MM-yyyy"
                    nzPlaceHolder="Select date"
                  ></nz-date-picker>
                </div>
                <div nz-col nzSpan="10">
                  <nz-upload
                    nzListType="text"
                    [nzShowUploadList]="false"
                    [nzCustomRequest]="handleCustomRequest(i)"
                  >
                    <button nz-button>
                      <i nz-icon nzType="upload"></i>
                      <span>{{
                        logCtrl.get("fileName")?.value || "Click to Upload"
                      }}</span>
                    </button>
                  </nz-upload>
                </div>
                <div nz-col nzSpan="4">
                  <span
                    nz-icon
                    nzType="plus-circle"
                    nzTheme="outline"
                    *ngIf="i === serviceLogControls.length - 1"
                    (click)="addServiceLog()"
                  ></span>
                  <span
                    nz-icon
                    nzType="delete"
                    nzTheme="outline"
                    *ngIf="i > 0"
                    (click)="removeServiceLog(i)"
                  ></span>
                </div>
              </div>
            </div>
          </div>
          <div nz-row nzJustify="end">
            <button nz-button nzType="primary" type="submit">Save</button>
          </div>
        </form>
        <div *ngIf="!isServiceLogEditMode">
          <div *ngFor="let log of vehicleInfo?.tractorId?.serviceLogs">
            <span
              >Service Date:
              {{ log.serviceDate * 1000 | date : "dd-MM-yyyy" }}</span
            >
            <nz-divider nzType="vertical"></nz-divider>
            <span>
              Download file:
              <a href="{{ log.fileUrl }}" download>
                <i nz-icon nzType="download"></i>
              </a>
              {{ log.fileName }}
            </span>
          </div>
        </div>
        <!-- <div *ngFor="let log of vehicleInfo?.tractorId?.serviceLogs">
          <span
            >Service Date:
            {{
              log.serviceDate && log.serviceDate * 1000 | date : "dd-M-yyyy"
            }}</span
          >
          <nz-divider nzType="vertical"></nz-divider>
          <span>
            Download file:
            <a href="{{ log.fileUrl }}" download>
              <i nz-icon nzType="download"></i>
            </a>
            {{ log.message }}
          </span>
        </div> -->
      </div>

      <div class="info-container">
        <div
          class="info-text"
          nz-flex
          nzAlign="center"
          nzJustify="space-between"
        >
          <span>Flaws</span>
          <i
            *ngIf="isEditMode"
            nz-icon
            nzType="edit"
            nzTheme="outline"
            (click)="toggleFlawEditMode()"
          ></i>
        </div>
        <form nz-form [formGroup]="flawsForm" (ngSubmit)="onSubmit()">
          <div formArrayName="flaws">
            <div
              *ngFor="let flawCtrl of flawControls; let i = index"
              [formGroupName]="i"
              nz-row
            >
              <div nz-col nzSpan="24">
                <nz-form-item nzFlex nzAlign="middle">
                  <nz-form-control nzSpan="8">
                    <div class="image-container">
                      <img
                        [src]="
                          flawCtrl.get('image')?.value ||
                          'assets/images/placeholder.svg'
                        "
                        alt="Flaw"
                        width="100"
                        height="85"
                        [class.faded]="isFlawEditMode"
                        [hidden]="imageLoaded"
                      />
                      <nz-spin *ngIf="imageLoaded" nzSimple></nz-spin>

                      <nz-upload
                        *ngIf="isFlawEditMode"
                        class="upload-image"
                        nzListType="picture-card"
                        [nzShowUploadList]="false"
                        [nzFileType]="
                          'image/png,image/jpeg,image/gif,image/bmp'
                        "
                        [nzCustomRequest]="handleCustomRequest(i)"
                      >
                        <i nz-icon nzType="edit" nzTheme="outline"></i>
                      </nz-upload>
                    </div>
                  </nz-form-control>
                  <nz-form-control nzSpan="12">
                    <span *ngIf="!isFlawEditMode" class="flaw-description">
                      {{ flawCtrl.get("flaw")?.value }}
                    </span>
                    <input
                      *ngIf="isFlawEditMode"
                      nz-input
                      formControlName="flaw"
                      nzPlaceHolder="Enter flaw description"
                    />
                  </nz-form-control>
                  <nz-form-control nzSpan="4" *ngIf="isFlawEditMode">
                    <div nz-flex>
                      <span
                        nz-icon
                        nzType="plus-circle"
                        nzTheme="outline"
                        (click)="addFlaw()"
                      ></span>
                      <span
                        *ngIf="i > 0"
                        nz-icon
                        nzType="delete"
                        nzTheme="outline"
                        (click)="removeFlaw(i)"
                      ></span>
                    </div>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </div>
          <div
            *ngIf="isFlawEditMode && flaws.length > 0"
            nz-row
            nzJustify="end"
          >
            <button nz-button class="primary-button" type="submit">
              Edit Flaws
            </button>
          </div>
        </form>
      </div>
    </div>
    <div nz-col nzSpan="11" class="col-wrap">
      <span class="title">{{ vehicleInfo?.title }}</span>
      <div class="timeleft-wrapper">
        <div nz-flex nzGap="small" nzAlign="center">
          <img
            src="assets/icons/clock.svg"
            alt="clock"
            width="20"
            height="20"
          />
          <span class="thin-text">Time Left:</span>
        </div>
        <nz-card class="timeleft-card">
          <div nz-flex nzJustify="center" nzAlign="center" [nzGap]="20">
            <div nz-flex [nzVertical]="true" nzAlign="center">
              <span class="time-left-value">{{ hours }}</span>
              <span class="time-left-label">HOURS</span>
            </div>
            <div nz-flex [nzVertical]="true" nzAlign="center">
              <span class="time-left-value">{{ minutes }}</span>
              <span class="time-left-label">MINUTES</span>
            </div>
            <div nz-flex [nzVertical]="true" nzAlign="center">
              <span class="time-left-value">{{ seconds }}</span>
              <span class="time-left-label">SECONDS</span>
            </div>
          </div>
        </nz-card>
        <div nz-flex nzJustify="space-between">
          <span
            >Auction ends:{{ vehicleInfo?.endTime * 1000 | date : "medium" }}
          </span>
          <span>Status: {{ vehicleInfo?.auctionStatus }}</span>
        </div>
        <div class="biddetails_container">
          <div nz-row nzAlign="middle">
            <div nz-col nzSpan="12" class="col-wrap" nzAlign="middle">
              <div nz-flex [nzVertical]="true" nzAlign="center">
                <span class="top-bid-key">Top Current Bid:</span>
                <span class="top-bid-amount"
                  >${{ vehicleInfo?.currentBid?.amount }}</span
                >
              </div>
            </div>
            <div nz-col nzSpan="12" class="col-wrap" nzAlign="middle">
              <div nz-flex nzGap="small">
                <div nz-flex [nzVertical]="true" nzAlign="flex-start">
                  <span>Seller</span>
                  <span>Ending</span>
                  <span>Bids</span>
                  <span>Views</span>
                </div>
                <div nz-flex [nzVertical]="true" nzAlign="flex-start">
                  <span>{{ vehicleInfo?.userId?.username }}</span>
                  <span>{{
                    vehicleInfo?.endTime * 1000 | date : "short"
                  }}</span>
                  <span>{{ vehicleInfo?.totalBids }}</span>
                  <span>{{ vehicleInfo?.views }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="vehicleInfo?.tractorId?._id">
        <app-comments-bids
          [tractorId]="vehicleInfo?.tractorId?._id"
        ></app-comments-bids>
      </div>
    </div>
  </div>
</nz-card>
