<nz-card>
  <div nz-row>
    <div nz-col nzSpan="12" class="col-wrap">
      <div nz-row [nzGutter]="16">
        <ng-container
          *ngIf="vehicleInfo?.tractorId?.images?.length >= 5; else singleImage"
        >
          <div nz-col class="gutter-row" [nzSpan]="4">
            <div
              nz-flex
              nzGap="small"
              [nzVertical]="true"
              class="thumbnails-container"
            >
              <div
                *ngFor="
                  let img of vehicleInfo?.tractorId?.images.slice(1, 5);
                  let i = index
                "
                class="thumbnail-wrapper"
              >
                <img
                  [src]="img.link"
                  height="70"
                  width="70"
                  (click)="viewAllImages()"
                  alt="Thumbnail {{ i + 1 }}"
                />
                <div
                  *ngIf="vehicleInfo?.tractorId?.images?.length > 3 && i === 3"
                  (click)="viewAllImages()"
                  class="view-all"
                >
                  View All
                </div>
              </div>
            </div>
          </div>
          <div nz-col class="gutter-row" [nzSpan]="20">
            <img
              *ngIf="vehicleInfo?.tractorId?.images?.length"
              [src]="
                vehicleInfo?.tractorId?.images[0].link ||
                'assets/images/tt_logo.svg'
              "
              height="300"
              width="420"
              alt="Main Image"
            />
          </div>
        </ng-container>
        <ng-template #singleImage>
          <div nz-col class="gutter-row" [nzSpan]="24">
            <img
              *ngIf="vehicleInfo?.tractorId?.images.length"
              [src]="
                vehicleInfo?.tractorId?.images[0].link ||
                'assets/images/tt_logo.svg'
              "
              height="300"
              width="100%"
              alt="tractor"
            />
          </div>
        </ng-template>
      </div>

      <nz-modal
        [(nzVisible)]="isCarouselVisible"
        nzTitle="All Images"
        (nzOnCancel)="isCarouselVisible = false"
        [nzFooter]="null"
        [nzWidth]="1000"
      >
        <ng-container *nzModalContent>
          <nz-carousel nzEffect="scrollx" nzAutoPlay>
            @for (index of tractorImages; track index) {
            <div nz-carousel-content>
              <img
                [src]="index || 'assets/images/image.svg'"
                alt="tractorpic"
                height="100%"
                width="100%"
              />
            </div>
            }
          </nz-carousel>
        </ng-container>
      </nz-modal>
      <div class="info-container">
        <div class="info-text" nz-flex nzAlign="center">
          <span>Additional Information</span>
        </div>
        <div
          *ngFor="let item of additionalInfo; let i = index"
          class="additional-info"
          nz-flex
        >
          <span class="info-label">{{ item.label }}</span>
          <span class="info-veh-value">{{ item.value }}</span>
        </div>
      </div>
      <div class="info-container">
        <div class="info-text" nz-flex nzAlign="center">
          <span>Modifications</span>
        </div>
        <ul class="modifications-list">
          <li
            *ngFor="let modification of vehicleInfo?.tractorId?.modifications"
          >
            {{ modification }}
          </li>
        </ul>
      </div>
      <div class="info-container">
        <div class="info-text" nz-flex nzAlign="center">
          <span>Service Logs</span>
        </div>
        <div *ngFor="let log of vehicleInfo?.tractorId?.serviceLogs">
          <span
            >Service Date:
            {{
              log.serviceDate && log.serviceDate * 1000 | date : "dd-M-yyyy"
            }}</span
          >
          <nz-divider nzType="vertical"></nz-divider>
          <span>
            Download file:
            <a href="{{ log.fileUrl }}" download>
              <i nz-icon nzType="download"></i>
            </a>
            {{ log.message }}
          </span>
        </div>
      </div>

      <div class="info-container">
        <div class="info-text" nz-flex nzAlign="center">
          <span>Flaws</span>
        </div>
        <div
          *ngFor="let flaw of vehicleInfo?.tractorId?.flaws"
          nz-flex
          [nzGap]="20"
          nzAlign="center"
        >
          <img
            [src]="flaw?.image || 'assets/images/placeholder.svg'"
            alt="Flaw"
            width="100"
            height="85"
          />
          <span class="flaw-description">{{ flaw.flaw }}</span>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="11" class="col-wrap">
      <span class="title">{{ vehicleInfo?.title }}</span>
      <div class="timeleft-wrapper">
        <div nz-flex nzGap="small" nzAlign="center">
          <img
            src="assets/icons/clock.svg"
            alt="clock"
            width="20"
            height="20"
          />
          <span class="thin-text">Time Left:</span>
        </div>
        <nz-card class="timeleft-card">
          <div nz-flex nzJustify="center" nzAlign="center" [nzGap]="20">
            <div nz-flex [nzVertical]="true" nzAlign="center">
              <span class="time-left-value">{{ hours }}</span>
              <span class="time-left-label">HOURS</span>
            </div>
            <div nz-flex [nzVertical]="true" nzAlign="center">
              <span class="time-left-value">{{ minutes }}</span>
              <span class="time-left-label">MINUTES</span>
            </div>
            <div nz-flex [nzVertical]="true" nzAlign="center">
              <span class="time-left-value">{{ seconds }}</span>
              <span class="time-left-label">SECONDS</span>
            </div>
          </div>
        </nz-card>
        <div nz-flex nzJustify="space-between">
          <span
            >Auction ends:{{ vehicleInfo?.endTime * 1000 | date : "medium" }}
          </span>
          <span>Status: {{ vehicleInfo?.auctionStatus }}</span>
        </div>
        <div class="biddetails_container">
          <div nz-row nzAlign="middle">
            <div nz-col nzSpan="12" class="col-wrap" nzAlign="middle">
              <div nz-flex [nzVertical]="true" nzAlign="center">
                <span class="top-bid-key">Top Current Bid:</span>
                <span class="top-bid-amount"
                  >${{ vehicleInfo?.currentBid?.amount }}</span
                >
              </div>
            </div>
            <div nz-col nzSpan="12" class="col-wrap" nzAlign="middle">
              <div nz-flex nzGap="small">
                <div nz-flex [nzVertical]="true" nzAlign="flex-start">
                  <span>Seller</span>
                  <span>Ending</span>
                  <span>Bids</span>
                  <span>Views</span>
                </div>
                <div nz-flex [nzVertical]="true" nzAlign="flex-start">
                  <span>{{ vehicleInfo?.userId?.username }}</span>
                  <span>{{
                    vehicleInfo?.endTime * 1000 | date : "short"
                  }}</span>
                  <span>{{ vehicleInfo?.totalBids }}</span>
                  <span>{{ vehicleInfo?.views }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="vehicleInfo?.tractorId?._id">
        <app-comments-bids
          [tractorId]="vehicleInfo?.tractorId?._id"
        ></app-comments-bids>
      </div>
    </div>
  </div>
</nz-card>
