[nz-carousel-content] {
  text-align: center;
  /* height: 300px;
  max-height: 300px;
  line-height: 160px; */
  /* background: #d3d5d7; */
  color: #fff;
}

::ng-deep .ant-carousel .slick-slider .slick-list {
  /* height: 300px !important; */
}
::ng-deep .ant-carousel .slick-slider .slick-track {
  /* height: 300px !important;
  width: 932px !important; */
}
.ant-carousel {
  height: 400px !important;
}

::ng-deep .ant-carousel .slick-list .slick-slide.slick-active {
  /* width: 932px !important; */
}

.col-wrap {
  padding: 15px;
}

.info-container {
  margin: 20px 0px;
}
::ng-deep .ant-carousel .slick-dots li.slick-active button,
::ng-deep .ant-carousel .slick-dots li button {
  background: black;
}
.info-label {
  font-weight: var(--font-weight-bold);
  font-size: 15px;
  text-transform: capitalize;
  line-height: 22.5px;
}
.info-veh-value {
  font-size: 15px;
  color: var(--primary-color);
  line-height: 22.5px;
  text-transform: capitalize;
  width: 100%;
}
.info-text {
  font-size: var(--font-l);
  height: 43px;
  font-weight: var(--font-weight-extra-bold);
  padding: 10px;
  border: 1px solid var(--primary-color);
  background: var(--custom-bg-color);
  margin-bottom: 10px;
}
.additional-info {
  padding: 10px;
  margin: 0px 5px;
  border-bottom: 1px solid var(--border-color);
}
.additional-info span:first-child {
  width: 180px;
}
.biddetails_container {
  margin: 10px 0px;
  border-radius: 5px 5px 0px 0px;
  border: 1px solid var(--bordr_color, #dadce0);
}
.timeleft-card {
  margin: 10px 0px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
}
.time-left-value {
  font-size: var(--font-m);
  font-weight: var(--font-weight-bold);
}

.thumbnails-container {
  position: relative;
}

.thumbnail-wrapper {
  position: relative;
}

.view-all {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white; /* Text color */
  cursor: pointer;
  font-weight: bold;
}
.primary-button {
  height: 30px;
  line-height: 6px;
}

.image-container {
  position: relative;
  display: inline-block;
  width: 100px; /* Match the width of the image */
  height: 85px; /* Match the height of the image */
}

.image-container img.faded {
  opacity: 0.5;
}

.image-container .nz-upload {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container .nz-upload .ant-upload {
  display: inline-block;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.image-container .edit-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
:host ::ng-deep .ant-upload.ant-upload-select-picture-card {
  width: 0px;
  height: 0px;
  position: absolute;
  top: 50%;
  right: 50%;
}
.main-image-container {
  position: relative;
}
.edit-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  display: none;
}
.main-image-container.editable:hover .edit-icon {
  display: block;
}
.delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
}

.upload-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.upload-icon i {
  font-size: 24px;
}
