<div nz-row>
  <div nz-col nzSpan="12" class="col-wrap">
    <div nz-row>
      <nz-carousel>
        @for (index of array; track index) {
        <div nz-carousel-content>
          <h3>{{ index }}</h3>
        </div>
        }
      </nz-carousel>
    </div>
    <div class="info-container">
      <h4 class="additonal-info-text">Additional Information</h4>
      <div
        *ngFor="let item of additionalInfo; let i = index"
        class="additional-info"
        nz-flex
      >
        <span>{{ item.label }}</span>
        <span class="info-value">{{ item.value }}</span>
      </div>
    </div>
  </div>
  <div nz-col nzSpan="12" class="col-wrap"></div>
</div>
