<nz-card>
  <div nz-row *ngIf="userInfo">
    <div nz-col nzSpan="6">
      <div
        nz-flex
        nzJustify="center"
        nzAlign="center"
        [nzVertical]="true"
        nzGap="small"
        class="personal_info"
      >
        <img src="assets/icons/profile_container.svg" alt="profile" />
        <img
          [src]="userInfo.profilePicture"
          alt="Profile Picture"
          class="details_picture"
        />
        <h4>
          {{ userInfo.fullName ? userInfo.fullName : userInfo?.username }}
        </h4>
      </div>
    </div>
    <div nz-col nzOffset="1" nzSpan="17" class="nz-mb-2">
      <div nz-flex nzJustify="space-between" class="personal_info">
        <h4>Personal Information</h4>
      </div>
      <div nz-row>
        <div nz-col nzSpan="10">
          <p>
            <span nz-icon nzType="user" nzTheme="outline"></span>&nbsp;<span
              >Full Name:</span
            >
            {{ userInfo.fullName ? userInfo.fullName : userInfo?.username }}
          </p>
          <p>
            <span nz-icon nzType="phone" nzTheme="outline"></span>&nbsp;<span
              >Phone Number:</span
            >
            {{ userInfo.phoneNumber }}
          </p>
          <p>
            <span nz-icon nzType="global" nzTheme="outline"></span>&nbsp;<span
              >Country:</span
            >
          </p>
        </div>
        <div nz-col nzSpan="12">
          <p>
            <span nz-icon nzType="mail" nzTheme="outline"></span>&nbsp;<span
              >Email Address:</span
            >
            {{ userInfo.email }}
          </p>
          <p>
            <span nz-icon nzType="calendar" nzTheme="outline"></span>&nbsp;<span
              >Joining Date:</span
            >
            {{ userInfo.createdAt | date : "d MMM, y" }}
          </p>
        </div>
      </div>
    </div>
  </div>
</nz-card>
<nz-card>
  <nz-tabset (nzSelectedIndexChange)="onTabChange($event)">
    <nz-tab nzTitle="Auction Request"
      ><app-table-view
        [data]="auctionInfo"
        [columns]="listOfColumns"
        [enablePagination]="true"
        [enableSorting]="true"
        [enableSearch]="true"
        [enableActions]="true"
        (sortChange)="onSortChange($event)"
        [loader]="loader"
        [totalRecords]="totalRecords"
        [tableRowTemplate]="tableRowTemplate"
        (pageChange)="onPageChange($event)"
        (search)="onSearchInput($event)"
      >
        <ng-template #tableRowTemplate let-data let-columns="columns">
          <tr *ngFor="let item of data">
            <td>{{ item["tractorId"]?.name }}</td>
            <td>{{ item["tractorId"]?.category }}</td>
            <td>{{ item["tractorId"]?.vin }}</td>
            <td>{{ item["reservedPrice"] > 0 ? "Reserved" : "N/A" }}</td>
            <td>{{ item["createdAt"] | date : "dd-MM-yyyy" }}</td>
            <td>{{ item["currentBid"]?.amount }}</td>
            <td>
              <button (click)="handleViewMore(item['_id'])">Accept</button>
              <button (click)="handleViewMore(item['_id'])">Deny</button>
            </td>
          </tr>
        </ng-template>
      </app-table-view></nz-tab
    >
    <nz-tab nzTitle="Auction Listing">
      <ng-template nz-tab>
        <app-table-view
          [data]="auctionInfo"
          [columns]="listOfColumns"
          [enablePagination]="true"
          [enableSorting]="true"
          [enableSearch]="true"
          [enableActions]="true"
          (sortChange)="onSortChange($event)"
          [loader]="loader"
          [totalRecords]="totalRecords"
          [tableRowTemplate]="tableRowTemplate"
          (pageChange)="onPageChange($event)"
          (search)="onSearchInput($event)"
        >
          <ng-template #tableRowTemplate let-data let-columns="columns">
            <tr *ngFor="let item of data">
              <td>{{ item["tractorId"]?.name }}</td>
              <td>{{ item["tractorId"]?.category }}</td>
              <td>{{ item["tractorId"]?.vin }}</td>
              <td>{{ item["reservedPrice"] > 0 ? "Reserved" : "N/A" }}</td>
              <td>{{ item["auctionStatus"] }}</td>
              <td>{{ item["createdAt"] | date : "dd-MM-yyyy" }}</td>
              <td>{{ item["currentBid"]?.amount }}</td>
              <td>
                <button (click)="handleViewMore(item['_id'])">View More</button>
              </td>
            </tr>
          </ng-template>
        </app-table-view>
      </ng-template></nz-tab
    >
  </nz-tabset>
</nz-card>
