.tractor-picture {
  border-radius: 50%;
  width: 24px;
  height: 38px;
  top: 19px;
  left: 25px;
  position: absolute;
}
.auction-card {
  border-radius: 10px;
  position: relative;
  border: 1px solid var(--bordr_color, #dadce0);
  padding: 10px;
  margin-bottom: 20px;
  div {
    padding: 5px;
    font-size: var(--font-xs);
  }
}
.tractor-info {
  margin: 20px 0px;
}
.card-heading {
  position: absolute;
  top: -15px;
  left: 10px;
  background-color: #fff;
  padding: 5px;
  z-index: 1;
  color: var(--green-color);
}
