<app-table-view
  [data]="listOfData"
  [columns]="listOfColumns"
  [enablePagination]="true"
  [enableSorting]="true"
  [enableSearch]="true"
  [enableActions]="true"
  (sortChange)="onSortChange($event)"
  [loader]="loader"
  [totalRecords]="totalRecords"
  [tableRowTemplate]="tableRowTemplate"
  (pageChange)="onPageChange($event)"
  (search)="onSearchInput($event)"
  (filteredList)="onFilterHandler($event)"
>
  <ng-template #tableRowTemplate let-data let-columns="columns">
    <tr *ngFor="let item of data">
      <td>
        <div nz-flex nzAlign="center">
          <img
            src="assets/icons/profile_container.svg"
            alt="profile"
            width="40"
            height="40"
          />
          <img
            [src]="exteriorImageUrl || 'assets/icons/Tractor.svg'"
            class="tractor-picture"
            alt="profile"
          />
          &nbsp;<span>{{ item["tractorId"]?.name }}</span>
        </div>
      </td>
      <td>
        <span>{{ item["userId"]?.username }}</span>
      </td>
      <td>
        <span>{{ item["currentBid"]?.userId?.username || "N/A" }}</span>
      </td>
      <td>
        <span
          class="status-button"
          [ngStyle]="
            item['reservedPrice'] > 0
              ? { background: '#2FC07C', color: '#fff' }
              : {}
          "
        >
          {{ item["reservedPrice"] > 0 ? "Reserved" : "N/A" }}
        </span>
      </td>
      <td>
        <span
          [ngStyle]="styleObject(item['auctionStatus'])"
          class="status-button"
          >{{ item["auctionStatus"] | titlecase }}</span
        >
      </td>
      <td>
        <span>{{ item["startTime"] * 1000 | date : "d MMM, y" }}</span>
      </td>
      <td>
        <span>{{ item["currentBid"]?.amount }}</span>
      </td>
      <td>
        <button
          class="viewmore_button"
          (click)="openAuctionDetailsModal(item['_id'])"
        >
          View More
        </button>
      </td>
    </tr>
  </ng-template>
</app-table-view>
<app-modal
  [showModal]="showAuctionDetailsModal"
  (handleCancelModal)="handleCancel()"
>
  <div modal-content>
    <nz-flex nzJustify="center" nzAlign="center" [nzVertical]="true">
      <img src="assets/icons/tick.svg" alt="block" width="50" height="50" />
      <h3>Auction Details</h3>
    </nz-flex>
    <div
      nz-flex
      class="tractor-info"
      nzGap="middle"
      *ngIf="!auctionDetailsLoader"
    >
      <img
        [src]="exteriorImageUrl || 'assets/icons/Tractor.svg'"
        alt="Exterior Image"
        width="30"
        height="30"
      />
      <div nz-flex [nzVertical]="true">
        <h3>{{ auctionDetails?.tractorId?.name }}</h3>
        <span class="tractor-info-subtext">{{
          auctionDetails?.tractorId?.vin
        }}</span>
        <span class="tractor-info-subtext">{{
          auctionDetails?.tractorId?.category
        }}</span>
      </div>
    </div>
    <nz-skeleton
      [nzAvatar]="true"
      [nzParagraph]="{ rows: 1 }"
      *ngIf="auctionDetailsLoader"
    ></nz-skeleton>
    <div class="auction-card">
      <div class="card-heading">Auction Details</div>
      <div *ngIf="!auctionDetailsLoader">
        <div nz-flex nzJustify="space-between" nzAlign="center">
          <span>Auction Date</span>
          <span>{{ auctionDate | date : "dd-MM-yyyy" }}</span>
        </div>
        <div nz-flex nzJustify="space-between" nzAlign="center">
          <span>Auction Start time</span>
          {{ auctionTime | date : "hh:mm a" }}
        </div>
        <div nz-flex nzJustify="space-between" nzAlign="center">
          <span>Winning Bidding Amount</span>
          <span>{{ auctionDetails?.currentBid?.amount }}</span>
        </div>
      </div>
      <div *ngIf="auctionDetailsLoader">
        <nz-skeleton [nzParagraph]="{ rows: 1 }"></nz-skeleton>
      </div>
    </div>
    <div class="auction-card">
      <div class="card-heading">Payment Details</div>
      <div *ngIf="!auctionDetailsLoader">
        <div nz-flex nzJustify="space-between" nzAlign="center">
          <span>Amount Paid</span>
          <span>0</span>
        </div>
        <div nz-flex nzJustify="space-between" nzAlign="center">
          <span>Remaining Amount</span>
          <span>0</span>
        </div>
      </div>
      <div *ngIf="auctionDetailsLoader">
        <nz-skeleton [nzParagraph]="{ rows: 1 }"></nz-skeleton>
      </div>
    </div>
  </div>

  <div modal-footer>
    <button nz-button class="modal-button" (click)="handleCancel()">
      Done
    </button>
  </div>
</app-modal>
