:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

.menu-sidebar {
  position: fixed;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

::ng-deep .ant-layout-sider,
.ant-menu.ant-menu-dark,
.sidebar-logo {
  background: var(--black-color) !important;
}

::ng-deep .ant-menu.ant-menu-dark {
  margin-top: 14px;
}
::ng-deep .ant-menu-dark .ant-menu-item {
  color: var(--white-color);
  height: 50px;
}

.ant-menu-item.active {
  background-color: var(--primary-color);
}

/* Exclude cases where both selected and active classes are present */
.ant-menu-item.ant-menu-item-selected:not(.active) {
  background-color: transparent;
}

/* Apply background color when both selected and active classes are present */
.ant-menu-item.ant-menu-item-selected.active {
  background-color: var(--primary-color);
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 54px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all 0.3s;
}

.sidebar-logo img {
  display: inline-block;
  /* height: 45px;
  width: 125px; */
  vertical-align: middle;
}

.sidebar-logo.collapsed {
  padding-left: 25px;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

.sidebar-logo img.collapsed {
  height: 30px;
  width: 30px;
}
nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

nz-content {
  margin: 10px;
}

.inner-content {
  padding: 20px;
  /* background: #fff; */
  height: 100%;
  width: 100%;
}

.sidebar-bottom-menu {
  position: absolute;
  bottom: 2%;
  width: 100%;
}

.main-content {
  margin-left: 256px;
}

.main-content.collapsed {
  margin-left: 80px;
  left: 80px;
}
.admin-name {
  font-size: var(--font-s);
  font-weight: var(--font-weight-bold);
  line-height: normal;
}
.admin-role {
  font-size: var(--font-xs);
  font-weight: var(--font-weight-semi-bold);
  line-height: normal;
  color: #565656;
}
.ant-layout-header {
  line-height: 24px;
}
.user-profile {
  margin-right: 30px;
}

::ng-deep .ant-dropdown {
  top: 8px;
}
.ant-dropdown-menu {
  border-radius: 0px 0px 8px 8px;
  border: 1px solid var(--border-color);
  background: var(--white-color);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  width: 220px;
  padding: 15px;
}
.profile-menuitem {
  font-size: var(--font-m);
  font-weight: 500;
  margin-left: 10px;
}
.sub-text {
  margin-top: 20px;
}
