.login-form {
  width: 100%;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
::ng-deep .ant-input {
  width: 470px;
  height: 34px;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  background: var(--white-color);
}
.ant-form-item-label {
  text-align: left;
  font-size: var(--font-s);
  font-family: var(--font-weight-semi-bold);
}
.ant-row {
  display: block;
  width: 100%;
}
.primary-button {
  width: 100%;
}
