<!-- <nz-card> -->
<nz-row [nzJustify]="'end'" [nzAlign]="'middle'" class="search-container">
  <nz-col *ngIf="enableSearch">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input
        type="text"
        nz-input
        placeholder="Search..."
        [formControl]="searchInput"
      />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
  </nz-col>
</nz-row>
<nz-table
  [nzData]="data"
  [nzBordered]="false"
  [nzOuterBordered]="isBordered"
  [nzLoading]="loader"
  [nzPageIndex]="1"
  [nzPageSize]="10"
  [nzShowTotal]="rangeTemplate"
  [nzFrontPagination]="false"
  [nzTotal]="totalRecords"
  (nzPageIndexChange)="onPageIndexChange($event)"
>
  <ng-template #rangeTemplate let-range="range" let-total>
    {{ range[0] }}-{{ range[1] }} of {{ total }} items
  </ng-template>
  <thead>
    <tr [ngClass]="{ 'custom-table-header': isDetailTable }">
      <th
        *ngFor="let column of columns"
        [id]="column.key"
        [nzShowSort]="column.sort"
        [nzShowFilter]="column.filter"
        [nzFilters]="column.listOfFilter"
        (nzSortOrderChange)="onSortChange(column)"
        [nzFilterMultiple]="column.isMultiple ? true : false"
        (nzFilterChange)="onFilterHandler(column, $event)"
        [ngClass]="{ 'custom-table-header-th': isDetailTable }"
      >
        {{ column.label }}
      </th>
      <th
        *ngIf="enableActions"
        [ngClass]="{ 'custom-table-header-th': isDetailTable }"
      >
        Actions
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container
      *ngTemplateOutlet="
        tableRowTemplate;
        context: { $implicit: data, columns: columns }
      "
    >
    </ng-container>
  </tbody>
</nz-table>
<!-- </nz-card> -->
