<div nz-row>
  <div nz-col nzSpan="4">
    <ul nz-menu [nzMode]="'vertical'">
      <li nz-menu-item (click)="selectMenuItem('faq')">
        <span>FAQ</span>
      </li>
      <li nz-menu-item (click)="selectMenuItem('privacy')">
        <span>Privacy Policy</span>
      </li>
      <li nz-menu-item (click)="selectMenuItem('terms')">
        <span>T&C</span>
      </li>
    </ul>
  </div>
  <div nz-col nzSpan="20" class="content-wrapper">
    <app-faq *ngIf="selectedMenuItem === 'faq'"></app-faq>
    <app-privacy-policy
      *ngIf="selectedMenuItem === 'privacy' || selectedMenuItem === 'terms'"
      [selectedMenuItem]="selectedMenuItem"
    ></app-privacy-policy>
  </div>
</div>
