<app-table-view
  [data]="auctionInfo"
  [columns]="listOfColumns"
  [enablePagination]="true"
  [enableSorting]="true"
  [enableSearch]="false"
  [enableActions]="true"
  (sortChange)="onSortChange($event)"
  (filteredList)="onFilterHandler($event)"
  [loader]="loader"
  [totalRecords]="totalRecords"
  [tableRowTemplate]="tableRowTemplate"
  (pageChange)="onPageChange($event)"
  (search)="onSearchInput($event)"
>
  <ng-template #tableRowTemplate let-data let-columns="columns">
    <tr *ngFor="let item of data">
      <td>
        <div nz-flex nzAlign="center">
          <img
            src="assets/icons/profile_container.svg"
            alt="profile"
            width="40"
            height="40"
          />
          <img
            [src]="item?.exteriorImageUrl || 'assets/icons/Tractor.png'"
            class="tractor-picture"
            alt="profile"
          />
          &nbsp;<span>{{ item["tractorId"]?.name }}</span>
        </div>
      </td>
      <td>{{ item["tractorId"]?.category }}</td>
      <td>{{ item["tractorId"]?.vin }}</td>
      <td>
        <span
          class="status-button"
          [ngStyle]="
            item['reservedPrice'] > 0
              ? { background: '#2FC07C', color: '#fff' }
              : { background: '#097F54', color: '#fff' }
          "
        >
          {{ item["reservedPrice"] > 0 ? "Reserved" : "No Reserve" }}
        </span>
      </td>
      <td>
        <span
          [ngStyle]="styleObject(item['auctionStatus'])"
          class="status-button"
        >
          {{ item["auctionStatus"] | titlecase }}
        </span>
      </td>
      <td>{{ item["startTime"] * 1000 | date : "dd-MM-yyyy" }}</td>
      <td>{{ item["currentBid"]?.amount }}</td>
      <td>
        <button
          (click)="handleViewMore(item['_id'])"
          class="secondary_button"
          nz-button
        >
          View More
        </button>
      </td>
    </tr></ng-template
  >
</app-table-view>
