/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.css";
@import "../node_modules/quill/dist/quill.snow.css";
@import "../node_modules/leaflet/dist/leaflet.css";
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

:root {
  box-sizing: border-box;
  position: inherit;

  /* font-size */
  --font-xs: 12px;
  --font-s: 14px;
  --font-m: 16px;
  --font-ml: 18px;
  --font-l: 20px;
  --font-xl: 24px;
  --font-xxl: 36px;
  --font-xxxl: 54px;
  /* font-weights */
  --font-weight-small: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-semi-bold: 600;
  --font-weight-extra-bold: 800;
  /* colors */
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;

  --thead-bg-color: #f2f2f2;
  --green-color: #377e7f;
  --block-color: #fcedcf;
  --blocktext-color: #b57803;

  --white-color: #fff;
  --black-color: #000;
  --primary-color: #377e7f;
  --border-color: #dadce0;
  --custom-bg-color: #ecffff;
  --grey-color: #6a6666;
  --gradient-color: linear-gradient(180deg, #3c4b75 0%, #367a7f 100%);
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/Lato-Regular.ttf") format("truetype");
}

/* For Bold weight */
@font-face {
  font-family: "Lato-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/Lato-Bold.ttf") format("truetype");
}

body {
  font-family: "Lato", sans-serif;
}

.heading {
  font-size: var(--font-xl);
  font-weight: var(--font-weight-bold);
}
.sub-heading {
  font-size: var(--font-l);
  font-weight: var(--font-weight-semi-bold);
}
.title {
  font-size: var(--font-xxl);
  font-weight: var(--font-weight-extra-bold);
}
.sub-title {
  font-size: var(--font-ml);
  font-weight: var(--font-weight-extra-bold);
}
.sub-text {
  font-size: var(--font-m);
  font-weight: var(--font-weight-normal);
}
.thin-text {
  font-size: var(--font-s);
  font-weight: var(--font-weight-small);
}
.primary-button,
.primary-button:focus {
  font-size: 17px;
  font-weight: 600;
  line-height: 24px;
  color: var(--white-color);
  text-align: center;
  background: var(--green-color);
  box-shadow: 0px 2px 8px 0px rgba(46, 47, 54, 0.08);
  border-radius: 5px;
  height: 44px;
  border: none;
}

.primary-button:hover {
  background: var(--gradient-color);
  color: var(--white-color);
  border: none;
}

.primary-button:disabled,
.primary-button[disabled] {
  opacity: 0.64;
  background: var(--green-color);
  color: var(--white-color);
}
.secondary_button {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background-color: var(--white-color);
  border-radius: 5px;
  text-align: center;
}
.secondary_button:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
  border: none;
}
.secondary_button:disabled,
.secondary_button[disabled] {
  opacity: 0.64;
  background: var(--white-color);
  color: var(--primary-color);
}
.img {
  object-fit: contain;
}

.loader-page {
  height: 100vh;
}

.error-message {
  color: #ff4d4f;
}

/* overriding inbuilt classes */

.ant-layout {
  background-color: var(--white-color);
}
.ant-breadcrumb > nz-breadcrumb-item:last-child a {
  color: var(--black-color);
  font-size: var(--font-s);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: 22px;
}
.ant-table-thead {
  height: 49px;
  background-color: var(--primary-color);
}

.nz-table-out-bordered > .ant-table-container {
  border: 1px solid var(--primary-color);
}
.ant-carousel {
  height: auto !important;
}
.ant-table-thead > tr > th {
  color: var(--white-color);
  font-size: var(--font-s);
  font-style: normal;
  font-weight: var(--font-weight-extra-bold);
  text-transform: capitalize;
  background-color: var(--primary-color);
}
.ant-table-container table > thead > tr:first-child th:first-child {
  border-top-left-radius: 14px;
}
.ant-table-container table > thead > tr:first-child th:last-child {
  border-top-right-radius: 14px;
}
.nz-table-out-bordered > .ant-table-container {
  border-radius: 14px 14px 14px 14px;
}
.ant-table-container table > tbody > tr:last-child td:first-child {
  border-bottom-left-radius: 14px;
}
.ant-table-container table > tbody > tr:last-child td:last-child {
  border-bottom-right-radius: 14px;
}
.ant-table-tbody > tr > td {
  color: var(--black-color);
  font-size: var(--font-s);
  font-style: normal;
  font-weight: var(--font-weight-normal);
}
.ant-table-wrapper {
  overflow-x: scroll;
}
.ant-table-thead th.ant-table-column-sort {
  background: var(--primary-color);
}

.ant-table-thead > tr > th:first-child,
.ant-table-tbody > tr > td:first-child {
  text-align: left;
}

.ant-table-thead > tr > th:not(:first-child),
.ant-table-tbody > tr > td:not(:first-child) {
  text-align: center;
}
.ant-table-thead > tr > th {
  white-space: nowrap;
}
.ant-pagination-item-active a,
.ant-pagination-item-active:hover a,
.ant-pagination-item:hover a,
.ant-pagination-next:hover .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-tabs-tab:hover {
  color: var(--primary-color);
}

.ant-pagination-item-active,
.ant-pagination-item-active:hover,
.ant-pagination-item:hover,
.ant-pagination-next:hover .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link {
  border-color: var(--primary-color);
}
.ant-modal-content {
  border-radius: 10px;
  box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.05);
}
.ant-table-thead > tr > th {
  padding: 16px 8px;
}
.ant-modal-body {
  padding: 34px;
}
.ant-modal-footer {
  padding: 0px 34px 34px;
  text-align: center !important;
  border-top: none;
}
.ant-picker {
  height: 25px;
}
.ant-switch-checked {
  background-color: var(--green-color);
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
/* custom classes */

.tractor-picture {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 1px;
  border: 1px solid #e5dfdf;
}
.block_status {
  color: #b57803;
  background-color: var(--block-color);
  width: 84px;
  padding: 4px 10px;
  border-radius: 21px;
}

.profile-picture {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  top: 17px;
  left: 17px;
  position: absolute;
}

.country-flag {
  margin-right: 5px;
  border-radius: 2px;
}
.personal-info-row {
  padding: 5px 0px;
}
.personal-info-title {
  font-size: 18px;
  font-weight: var(--font-weight-semi-bold);
}
.personal-info-row-key {
  font-size: 15px;
  font-weight: var(--font-weight-normal);
  display: flex;
  gap: 3px;
  /* align-items: center; */
  span:first-child {
    color: var(--primary-color);
  }
}
.personal-info-row-value {
  font-size: 15px;
  font-weight: 500;
}
.details_picture {
  width: 64px;
  height: 64px;
  border-radius: 50px;
  position: absolute;
  top: 14px;
}
.personal_details {
  margin: 10px 0px;
}
.personal-details-name {
  font-size: var(--font-l);
  font-weight: 700;
}
.details_card {
  border-radius: 14px;
  margin-bottom: 20px;
  border: 1px solid var(--primary-color);
}
.profile-picture {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  top: 17px;
  left: 17px;
  position: absolute;
}
.info-card {
  width: 294px;
  height: 127px;
  border-radius: 5px;
  background: var(--white-color);
  box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.05);
  border: none;
}
.info-value {
  font-size: var(--font-l);
  font-weight: var(--font-weight-bold);
}

.status-button {
  border-radius: 12px;
  padding: 4px 15px;
  text-transform: capitalize;
  white-space: nowrap;
}
.modal-header-text {
  text-align: center;
  margin: 10px 0px;
  span {
    opacity: 0.7;
  }
}
.tractor-info-subtext {
  color: var(--grey-color);
  font-size: var(--font-xs);
}
.modal-button {
  width: 100%;
  border-radius: 5px;
  background: var(--black-color);
  box-shadow: 0px 2px 8px 0px rgba(46, 47, 54, 0.08);
  color: var(--white-color);
  margin-bottom: 10px;
}
.login-wrapper {
  align-items: start;
  position: absolute;
  top: 20%;
  left: 15%;
}
.login-ant-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 21px;
  width: 524px;
  padding: 59px;
  border: 1px solid var(--border-color);
  background: var(--white-color);
  box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.07);
}
.welcome-text {
  font-weight: var(--font-weight-bold);
  font-size: 30px;
  line-height: 120%;
  margin-bottom: 11px;
}
.welcome-text-desc {
  font-size: var(--font-s);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: 140%;
  margin-bottom: 20px;
}
.detail-outer-card {
  border-radius: 14px;
  border: 1px solid var(--primary-color);
}
.clickable-name {
  cursor: pointer;
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.tabletitle-text {
  text-align: left !important;
  font-size: var(--font-l);
  font-weight: var(--font-weight-bold);
  line-height: 28px;
}
.top-bid-key {
  font-size: 13;
  font-weight: var(--font-weight-bold);
  color: var(--green-color);
}
.top-bid-amount {
  font-size: var(--font-xxxl);
  font-weight: var(--font-weight-extra-bold);
}
